[2018-05-15 18:44] lognaturel opened #2 "Setting up CI"

[2018-05-15 18:45] lognaturel commented on #2
@shobhitagarwal1612 @yanokwa Should this go straight to using the ODK account or should @lakshyagupta21 use his own account for now? If you think it should use the ODK account, please give @lakshyagupta21 access, @yanokwa

[2018-05-15 18:49] yanokwa commented on #2
I think this can be built on the ODK account. I think all that has to happen is adding basic CircleCI config like Collect has. https://github.com/opendatakit/collect/blob/master/.circleci/config.yml is a good place to start. Maybe comment out the instrumented tests for now if that requires GCloud access.

[2018-05-16 17:44] lakshyagupta21 opened #4 "WifiHotspot Enable/Disable"

[2018-05-16 17:45] lakshyagupta21 opened #5 "WifiHotspot create/restore configuration"

[2018-05-16 23:43] #2 closed

[2018-05-18 19:23] shobhitagarwal1612 opened #7 "Add butterknife for view injection"
Let's use Butterknife for view dependency injection
http://jakewharton.github.io/butterknife/

[2018-05-18 19:23] shobhitagarwal1612 opened #8 "Add timber for logging"
A logger with a small, extensible API which provides utility on top of Android's normal Log class. http://jakewharton.github.io/timber/

[2018-05-19 05:31] #7 closed

[2018-05-19 05:53] shobhitagarwal1612 opened #10 "Create a screen to display instances stored in device under odk directory"

[2018-05-19 05:58] shobhitagarwal1612 opened #11 "Establish socket connection over wifi-hotspot"

[2018-05-19 06:03] lakshyagupta21 opened #12 "Settings activity to get the Wifi Hotspot configuration ssid/password"

[2018-05-19 06:04] shobhitagarwal1612 opened #13 "Adding README"
@lakshyagupta21 In your GSoC proposal you have defined the goals and purpose of this project really well. It would be really cool if you can update the README with some of the relevant information from there

[2018-05-19 06:16] #4 closed

[2018-05-19 06:16] #5 closed

[2018-05-19 13:36] #8 closed

[2018-05-19 18:06] #13 closed

[2018-05-21 19:26] lakshyagupta21 opened #17 "Create screen to show the nearby wifi networks"
Scan and show the nearby wifi networks available so that client can connect to server(wifi-hotspot).

[2018-05-23 18:13] #10 closed

[2018-05-25 13:08] lakshyagupta21 opened #19 "Problem connecting to created wifi hotspot network"
Issue noticed in Android versions >= 7, below 7 other devices are able to connect to created hotspot network.

[2018-05-27 04:31] lakshyagupta21 commented on #17
Added wifi network screen in PR #18 so closing this issue.

[2018-05-27 04:31] #17 closed

[2018-05-27 04:43] lakshyagupta21 opened #21 "Connect hotspot by scanning QR Code"
1. Add functionality to generate QR Code for hotspot - QR Code can contain two or three attributes depending on whether wifi is protected or not. Three attributes -> `ssid`, `isProtected`, `password`
2. Add functionality to scan the QR code in `WifiActivity` so that hotspot can be connected.

[2018-05-29 17:36] lakshyagupta21 commented on #11
Which method would be more preferred for sharing forms with only one enumerators or with multiple enumerators ?

[2018-05-29 18:15] lognaturel commented on #11
Good question. It feels simpler to always send the blank form and do the check on the receiving end. Sending an extra file doesn't seem like it's a big deal since we know the connection will be very fast. I can't currently think of any downsides of doing it this way, can you?

[2018-05-29 18:18] lakshyagupta21 commented on #11
I agree as the connection is fast, sending a form won't take much time as compared to instances.

[2018-05-30 04:10] shobhitagarwal1612 commented on #11
if the checks are happening at the receiving end then the media files should also be sent which can be a lot in number

[2018-05-30 04:44] lognaturel commented on #11
That's a very good point, @shobhitagarwal1612. Given that it's a local wifi connection, I think we can expect at very worst 5mbps so I think we're talking about at most a couple of extra seconds. Still, for forms that have videos or lots of images it could be a problem. How about going with the simple approach for now and filing an issue to get feedback and maybe consider alternatives?

One other

[2018-05-30 10:35] #19 closed

[2018-06-07 17:46] shobhitagarwal1612 opened #24 "Add option to see downloaded instances"
Purpose / goal:
 - Show a list of all downloaded instances
 - Delete one/more downloaded instances from sd-card
 - View the forms
 - Approve/reject/give feedback

[2018-06-09 09:15] #11 closed

[2018-06-10 09:40] lakshyagupta21 opened #26 "Create database and save information received from the receiver end"
* Create share db for storing send/receive data
* Store instance information in instance db
* Store instance information share db

[2018-06-11 05:36] lakshyagupta21 commented on #26
For all form/instance transfer, I'm thinking of creating different table `share` which will save data related to the file transfer like `sent/received, instanceId, formStatus, lastStatusChangeDate`. Here `instanceId` is a foreign key referencing `instance` table which is in `instance.db`.

And I think it is not possible to add foreign key referencing table in a different database.

I can think of

[2018-06-13 02:15] lognaturel commented on #26
Can it be kind of an informal foreign key? That is, can you store the key and then use it to query the instance.db explicitly rather than through a join?

[2018-06-14 02:30] lognaturel opened #27 "Give users the option to archive transferred forms and instances"
As a survey manager, I would like to instruct enumerators to "move" filled forms from their device to another device rather than copying them. I would like to be able to retrieve filled forms from the original device in case some transfer error occurs.

I was talking to a user today who maintains https://github.com/Last-Mile-Health/ODK-Liberia, a fork of Collect with bluetooth transfer capabilitie

[2018-06-16 12:16] lakshyagupta21 opened #31 "Handle cancel event of Async Tasks"
Noticed in PR #25
Not able to send/receive forms if a user tries again after an activity is destroyed by pressing back button or cancel button of a progress bar.

New Async task won't start until the previous one gets finished. So need to handle the cancelling event of Async tasks.

[2018-06-16 12:18] lakshyagupta21 commented on #31
Thanks @lognaturel and @shobhitagarwal1612 !!

[2018-06-16 19:56] lakshyagupta21 opened #32 "Main Screen to show all the forms available"
1. Show all the forms available in device.
2. Tapping on any category will open a activity which will show instances of that category only.
3. Add send and receive buttons to send the forms (Activity will show all the instances of all the forms)

![3](https://user-images.githubusercontent.com/18495162/41501994-ea52587e-71cc-11e8-9aed-6b3dee5058dd.PNG)

[2018-06-18 16:19] #31 closed

[2018-06-18 19:16] lognaturel commented on #31
Hurray, glad you tracked it down!! 🎉

[2018-06-21 18:02] shobhitagarwal1612 opened #33 "Unable to set the wifi hotspot name in android oreo"
In android oreo, only system apps which are signed and have the below permission can change the configuration.
[code]

https://stackoverflow.com/questions/46392277/changing-android-hotspot-settings

So, this causes a problem if the sender is unable to change the name and uses that name to create the QR Code which later fails due to mismatch.
Since there is no way to change the name, I suggest we p

[2018-06-22 23:35] #26 closed

[2018-06-24 13:31] lakshyagupta21 opened #36 "Add Search and Sort Options"
Add `SearchView` in the toolbar of `MainActivity`, `InstancesList`, `WifiActivity`, etc.

[2018-06-24 13:41] lakshyagupta21 opened #37 "Screen for showing stats, sent, received, review forms"
Create screen with tabs that show  statistics, sent forms, received forms, reviewed forms, etc.
I've added 2-3 wireframes showing different options of selection i.e, Selection on long tap and checkbox
I wanted to know which option would be preferable.

![22](https://user-images.githubusercontent.com/18495162/41819663-ef388366-77e1-11e8-9841-2c144f92ca2a.png)
![33](https://user-images.githubusercon

[2018-06-24 13:42] lakshyagupta21 commented on #36
Will proceed with this after completing #37

[2018-06-27 01:06] lognaturel commented on #37
I would recommend using checkboxes. Long press is hard to discover and may be completely unknown to users who aren't that familiar with Android or smartphones.

Another thing that occurs to me as I Iook at this now is that users have previously expressed confusion at tab interfaces like the delete screen in Collect. I think only including the text description of the tab for the one that's selected

[2018-06-27 01:08] lognaturel commented on #37
I also think showing some metadata below the form names such as "Received on <date>" or "Finalized on <date>" will help with that too.

[2018-06-27 01:08] yanokwa commented on #37
Hi @lakshyagupta21 I also prefer checkboxes for common actions because they are visible to the user.

[2018-06-29 18:15] lakshyagupta21 opened #39 "Add instances review functionality"
Add a functionality to review the forms received from other devices and give feedback on received forms.

[2018-06-29 18:21] lakshyagupta21 commented on #39
@shobhitagarwal1612 @lognaturel Need some ideas on this like how the review process should look like.

One way that I can think of is open forms in edit mode in collect from share app and when a user finishes it and navigates back to the share app we add an option to give feedback on the same form. The only problem that I'm able to see in this method is that when a user navigates to collect to edi

[2018-06-29 18:53] shobhitagarwal1612 commented on #39
Instance review status: Pending, Approved, Rejected

Pending - yet to be reviewed
Approved - Will be moved to collect's instances dir
Rejected - To be resent back to the enumerator

1. Go to `Review forms section` (this will contain the list of received instances which are tagged as `Pending`
2. Click on any instance, this will open the instance in Collect in `View only` mode
3. After going throug

[2018-06-29 18:59] lakshyagupta21 commented on #39
Currently, whenever a form is received, it is added to collect's instances dir, the reason for doing it this way is that sometimes a user may don't want to get any feedback from the supervisor, there might be a possibility that for a single form there are multiple enumerators who fill different sections of the form.

[2018-07-08 15:36] lakshyagupta21 commented on #39
Any suggestions?

![review](https://user-images.githubusercontent.com/18495162/42421401-a64af6e0-82f2-11e8-89ba-4b86c0bccc06.png)

[2018-07-09 16:22] #37 closed

[2018-07-09 16:23] #33 closed

[2018-07-10 00:04] lognaturel opened #42 "Clarify that blank list messages are about filled forms"
When the detail tabs for forms are selected but no filled forms have yet been transferred using Share, there are default messages as follow:
- Sent: "Not sent any form"
- Received: "Not received any form"
- Reviewed: "Not finalized any received form"

I propose something like the following changes:
- Sent: "No filled "`<form name>`" forms sent"
- Received: "No filled "`<form name>`" forms received

[2018-07-10 00:21] lognaturel commented on #39
I think this is ok. We sort of need to assume that supervisors can be trusted. That said, you could keep a counter of how many times the button to open the form in Collect was tapped, right? That might help a supervisor remember whether they have looked at it or not.

I very much agree with this approach.

Thanks for providing something concrete to try and comment on in #41. Some thoughts:
- "View

[2018-07-10 00:22] lognaturel commented on #32
I believe this can now be closed! 🎉

[2018-07-10 00:32] lakshyagupta21 commented on #39
Seems fine to me, this will give some idea to the user that this app needs Collect to view the form.

It will mark the form as pending and move back to the tabs screen.

Currently it is showing `displayName` on the screen.

[2018-07-10 00:33] lognaturel commented on #39
That's the display name of the form, right? That means every single filled form from the same form will look exactly alike?

[2018-07-10 00:36] lakshyagupta21 commented on #39
Yes, in the snapshot it is showing `All-widgets` which created some confusion as it is also a displayName of a `all-widgets` form.

Yes

[2018-07-10 00:42] lognaturel commented on #39
Ahh, and you don't have `instanceName` available because it was only in the database on the sender side, not in the form, right? Do you know what device it was sent from? Maybe you can start by showing that and the date/time it was received? We can file this as a separate issue but eventually you could parse the instance to compute the `instanceName` and display that. Alternately you could pull ou

[2018-07-10 00:50] lakshyagupta21 commented on #39
Do we store `instanceName` in the database I thought `displayName` is the only field which helps user to identify the form.

No, currently we are not tracking the device info.

Yes, this can be done.

How about some boolean value or int value like 0 and 1 which tells that whether user visited it before or not?

[2018-07-10 00:56] lognaturel commented on #39
🤦‍♀️ We're talking about the same thing -- the database column is indeed called `displayName`. I only tried it with forms that don't have an expression for instance name so I didn't see that it was doing the right thing. Sorry!

I was thinking of a count because it might help me remember something like "oh, that's the one I really wasn't sure about" but I can see how visited/not visited is much ea

[2018-07-10 01:02] lakshyagupta21 commented on #39
Sounds good, I'll add a new column in `transfers` table for keeping track of the number of times a user viewed the form.

[2018-07-13 16:33] #42 closed

[2018-07-14 18:36] lakshyagupta21 opened #44 "Error opening forms in collect"
Instances file path is not entered correctly in instances db.

**Actual file path**: `/storage/emulated/0/share/instances/N_Biggest_2018-07-14_23-21-47`
**Expected file path**:  `/storage/emulated/0/odk/instances/Biggest N of Set_2018-07-14_23-21-47/Biggest N of Set_2018-07-14_23-21-47.xml`

[2018-07-15 15:00] lakshyagupta21 opened #46 "Storing received instance detail in collect's instance db"
Storing the downloaded instance detail in` instance.db` in` odk/metadata` may create some confusion.

Currently, it is being stored in instances.db because of one use case i.e. when a user wants to share the form without any feedback. But it can create some confusion because the forms will also appear in collect.

Two possible solutions
1. Archiving the instances sent/received. (Issue #27)
2. Add

[2018-07-15 20:34] #44 closed

[2018-07-18 21:50] lognaturel opened #47 "Add user documentation"
A first pass in the README would be great. It should include a few screenshots where helpful but not so many that they're hard to keep up to date.

Some of the information to include:
* Who is it for?
* Typical connection workflows
* Troubleshooting common issues
* Known limitations

[2018-07-18 22:11] lognaturel opened #48 "Provide more feedback and/or instructions when attempting to send"
When I set a device to send, I see "Waiting for connection to accept". I'm not sure what action I need to take. It seems unclear what I'm waiting for. Maybe it could say that the other device needs to tap on the receive button and to connect to the network?

Eventually, the receiver gets a message to enter port number. I no longer see any way to see the port number so I can't establish a connectio

[2018-07-18 22:12] lognaturel opened #49 "Allow sending of a blank form and media"

[2018-07-18 22:15] lognaturel opened #50 "Clarify what is being shown after tapping Send"
After tapping "Send," the list of forms is replaced by a list of filled forms. This is not very clear. Maybe the title could be something like "Filled forms to send" or something like that to provide the user with more context on where they are and what action they can now take.

[2018-07-18 22:19] lognaturel opened #51 "If portable hotspot configuration fails, no feedback is given"
On two of the devices I've tried (Galaxy Tab A and Alcatel One Touch 5020D, details at https://github.com/opendatakit/collect#contributing-testing), when I tap "Send" and select filled forms, I go straight to a screen that shows "Waiting for connection to accept". What does this state means? It looks like it's not possible to set up a hostpot on those devices? I don't get promtped to enable from t

[2018-07-18 22:35] lognaturel opened #52 "Confirm sending can work with Samsung devices"
I can't get the Samsung Galaxy Tab A that I have to send. In conversation with @lakshyagupta21 it sounded like Samsung may limit configurability of hotspots. Initially he thought there might be a way around it but it's still not working for me. Samsung devices are the most popular ones for ODK users so there should be a path to them being able to share forms this way.

First step is to figure out

[2018-07-18 22:40] lognaturel commented on #51
Interesting, I just noticed that on the One Touch, I get a notification that the hotspot has been started. In settings, it looks correctly configured. But I still just see "Waiting for connection to accept"

[2018-07-19 03:03] lakshyagupta21 commented on #51
@lognaturel There were some issues when we configure hotspot for different versions so we tried to apply some tricks to make it work.
Devices with version
1. < 7 - It gets configured directly from the third app.
2. >= 7 and < 8 - It can be configured from the app but if we enable it from the third party app then other devices won't be able to connect to it, so we navigated a user to `portable hots

[2018-07-19 03:35] lakshyagupta21 commented on #51
If you're navigated to a screen showing `Waiting for connection to accept` it means that everything worked perfectly (Configuring and enabling of hotspot) and now it is waiting for other devices to connect to it. Once other device gets connected to it, it starts sending the files.

[2018-07-19 03:38] lognaturel commented on #51
If things are working, it should show the QR code and the port, right? When the "Waiting for connection to accept" screen is shown, no other device can find the hotspot and there's no way to connect via QR code.

[2018-07-19 03:54] lognaturel opened #53 "After being in receiving mode, wifi is disabled in settings"
1. Connect to a wifi network from settings
1. Launch Share and tap on the "receive" button
1. Scan for a connection, no connection is found
1. Tap the back button

Wifi is now disabled. Ideally it would be back in the state it was in prior to using Share. This is important for enumerators who may not be very mobile-savvy and need the internet connection for sending forms.

[2018-07-19 04:01] lognaturel commented on #51
To summarize some new insights from Slack:

- Galaxy Tab A, Android 5.1.1: it seems I consistently get
[code]

- One Touch, Android 4.1.1:
No exception. The hotspot is set up and other devices do see it but then they prompt for a port number but the sending device doesn't show a port number.

[2018-07-19 04:04] lognaturel commented on #51
"Waiting for connection to accept" is the default text from the layout. It should probably be more descriptive and state that something went wrong. If things went right, the QR code and port number should be displayed.

[2018-07-19 05:02] lognaturel commented on #51
From discussion on Slack: I set a breakpoint at `SendActivity.addUploadEventSubscription` and `SenderService.startUploading` and found that on the Android 4.1.1 device, the queued status event is sent by `startUploading` before the event subscription is done.

[2018-07-19 17:16] lognaturel commented on #52
After #54 it works fine with the Galaxy Tab A so I think we can be confident it's not likely there's a Samsung-wide problem. 🎉

[2018-07-19 17:16] #52 closed

[2018-07-20 17:07] #32 closed

[2018-07-20 17:12] lognaturel opened #57 "Receiver hangs on "Connecting to wifi""
Continuing from https://github.com/opendatakit/share/pull/54#issuecomment-406388616.

I can reproduce this consistently with the Alcatel One Touch / Android 4.1.1 device receiving. It also seems to happen sporadically on other devices after updating versions.

The devices hang on the "Connecting to wifi" dialog and there is no way to exit other than killing the app. The back button is disabled. Be

[2018-07-20 17:16] lognaturel commented on #57
At the very least, it should never be possible for the "Connecting to wifi" dialog to block the back button. It should be possible for a user to stop connecting and try again.

[2018-07-20 17:28] lognaturel opened #58 ""Successfully received 0 form(s)" message doesn't make sense"
I'm not sure how to reproduce this but it's currently happening consistently with two of my devices. After I pick a filled form to send, the sender is showing the QR code and port number. The receiver successfully connects. The sender doesn't show a dialog but the receiver shows "Successfully received 0 form(s)".

It seems like something went wrong though I don't know what. In general, it seems th

[2018-07-20 17:37] lognaturel commented on #57
I also get in this state consistently when the One Touch is sending and the Galaxy Tab A is receiving.

[2018-07-20 17:41] lognaturel opened #59 "QR code scanner is not easily accessible"
On the sending side, the QR code is nice and big and looks like the primary way to initiate the connection. On the receiver side, the scanner is hidden in the overflow menu.

I see a few options:
- use icons for wifi scanning vs QR code scanning so they both fit
- move the two options into the main view so they're more visible
- show the QR code scanner by default with an alternate option to look

[2018-07-20 17:43] lakshyagupta21 commented on #57
Maybe that's why it keeps on searching for the wifi connection and it doesn't stop.

[2018-07-20 17:47] lognaturel commented on #49
Currently these are sent along with a filled form, right? So maybe it's just a matter of making that clear to the user? Though I do think there are cases where users will want to send just the blank form and not a filled one (when setting up a campaign for example).

This could be done as add-on work after GSoC but I want to make sure we have an issue to track it!

[2018-07-20 17:49] yanokwa commented on #47
To me, this is the highest priority issue and we should stop bug fixing until we get this written up. I went through the app and tried to get the basic use case of sending a form from one device to another and I was not successful. I think if @lakshyagupta21 took a day or two to do this, he'd also identify where the gaps in functionality are.

[2018-07-20 17:52] yanokwa commented on #47
And I understand that not everything works, but for us to evaluate what is missing vs a bug, we need to know the path that @lakshyagupta21 and @shobhitagarwal1612 take through the app.

[2018-07-20 17:52] lakshyagupta21 commented on #49
Yes, they are sent if it's not present on receiver's device.

[2018-07-20 18:01] lognaturel commented on #49
Awesome. So this ties back in to what @yanokwa has said at https://github.com/opendatakit/share/issues/47#issuecomment-406676885 -- getting a first pass at user documentation would really help clarify what a user should expect at each point and will make it easier to see what functionality is there but might benefit from more clarification and what functionality needs to be tracked by new issues.

[2018-07-20 19:22] #53 closed

[2018-07-20 19:48] lognaturel commented on #51
This is probably still a possible state to get in so it would be good for it to say something to help the user along. It could be as simple as "If you're not seeing a QR code here, something went wrong configuring the wifi hotspot"

https://www.smashingmagazine.com/2016/09/how-to-design-error-states-for-mobile-apps/ has some good reading on error states.

[2018-07-23 17:31] #59 closed

[2018-07-23 17:33] #58 closed

[2018-07-24 16:35] lakshyagupta21 opened #63 "Add content to statistics screen"
Add various form statistics related to form transfer and review process.

[2018-07-24 23:01] lognaturel opened #65 "Receiver not registered crash"
Alcatel OneTouch, Android 4.1.1. When receiving and not finding a network, after some time, Share crashes with:

[code]

[2018-07-24 23:03] lognaturel commented on #51
There seems to also be a case where the hotspot configuration fails but a QR code is still shown. That's now what happens for me on the OneTouch Android 4.1.1.

[2018-07-24 23:05] #57 closed

[2018-07-26 01:11] lognaturel opened #66 "SQLiteConnection leaked"
On Android 4.1.1 and master, I get a constant stream of the following error in logcat:

`W/SQLiteConnectionPool(12326): A SQLiteConnection object for database '/storage/sdcard0/odk/metadata/forms.db' was leaked!  Please fix your application to end transactions in progress properly and to close the database when it is no longer needed.`

[2018-07-28 16:01] #36 closed

[2018-07-28 16:51] lakshyagupta21 opened #69 "Add graphics to Statistics screen"
Statistics screen can be made more interactive by displaying some charts or graphs

@shobhitagarwal1612  suggested a library [https://github.com/PhilJay/MPAndroidChart](https://github.com/PhilJay/MPAndroidChart) in PR #64  to add rich graphics.

[2018-07-28 18:00] #63 closed

[2018-07-28 19:40] lognaturel opened #70 "Blank message for reviewed tab should say reviewed, not received"
Currently, when no forms have been reviewed, the message is "No finalized <form name> forms received" but it should be "No finalized <form name> forms reviewed".

[2018-07-28 19:46] lognaturel opened #71 "Provide some kind of form status summary on landing screen"
Currently, there's no way to tell which forms need to be reviewed, which have been received, etc. A small summary either in the summary text or on the right side would help a user figure out which forms are worth clicking on.

[2018-07-28 19:46] lognaturel commented on #50
It would also really help to know which filled forms were received vs. filled out on that device.

[2018-07-28 19:52] lognaturel opened #72 "Rotating send screen causes hotspot to be recreated"
Sometimes it fails, sometimes it succeeds. Ideally the existing one could just be used.

[2018-07-29 03:55] #51 closed

[2018-07-29 14:20] #70 closed

[2018-07-29 18:02] lakshyagupta21 commented on #71
What information can be added? Need some feedback this.

![status](https://user-images.githubusercontent.com/18495162/43369204-68c832f6-9387-11e8-8e27-08f2b24c6a0f.png)

[2018-07-30 04:33] lognaturel commented on #71
Thank looks great to me!

[2018-07-30 15:31] lakshyagupta21 commented on #66
Fixed in #67. So closing this issue.

[2018-07-30 15:31] #66 closed

[2018-07-30 16:42] lakshyagupta21 opened #76 "Add About screen"
Add some information about the the open source libraries and the code which is being used in Share.

[2018-08-02 03:01] lognaturel opened #78 "Add usage instructions to README"
A first pass in the README would be great. It should include a few screenshots where helpful but not so many that they're hard to keep up to date.

Some of the information to include:
- Who is it for?
- Typical connection workflows
- Troubleshooting common issues
- Known limitations

[2018-08-02 03:02] lognaturel opened #79 "Create Github 1.0 release"

[2018-08-02 03:04] lognaturel opened #80 "Write up status, lessons learned and next steps"
This will be great for the community to see on the forum. It should link to the APK on Github in addition to saying user documentation is available in the readme.

Is the community or development category a better place? Or somewhere else?

[2018-08-03 17:05] #76 closed

[2018-08-03 17:52] lakshyagupta21 opened #81 "Add a unique identifier with the form"
Add some unique id with the form and send so that when it comes after review, it can be checked if it already exists in DB or not (if that instance is sent for some review then receive review otherwise display that no such form sent for review)

[2018-08-03 17:55] lakshyagupta21 commented on #81
Flow when send button on home screen is pressed
![send_on_home_screen](https://user-images.githubusercontent.com/18495162/43657754-5bac7550-9774-11e8-9c4a-931422c83839.png)

[2018-08-03 17:56] lakshyagupta21 commented on #81
Flow when 'send' button pressed from review tab (mode = "reviewedForm")
![send_review](https://user-images.githubusercontent.com/18495162/43657846-954c033e-9774-11e8-8779-137ced08fb26.png)

[2018-08-12 17:31] shobhitagarwal1612 opened #83 "App crashes on clicking Send button if Collect is not installed"

[2018-08-13 17:17] #83 closed

[2018-08-13 17:17] #72 closed

[2018-08-13 17:19] lakshyagupta21 opened #86 "Home screen form status not updated"
Status shown on home screen not updated when user taps on back button after reviewing the form but it gets updated in statistics screen.

Noticed in #74

[2018-08-13 17:25] #81 closed

[2018-08-14 00:45] lognaturel commented on #47
Hmm, not sure why I also filed #78! Closing in favor of that one.

[2018-08-14 00:45] #47 closed

[2018-08-14 04:56] #78 closed

[2018-08-15 22:21] yanokwa opened #87 "Crash when going back from stats screen"
To reproduce go to Share home screen with a list of forms. Click one form. You will now be at the statistics page. Press back and there will be a crash.

[code]

[2018-08-17 17:16] #87 closed

[2018-08-19 11:58] lakshyagupta21 opened #89 "Unable to start hotpot on Android 4.4"
Trying to trigger hotspot on Android 4.4 version, it's giving true as a return value when wifi hotspot is triggered.

[2018-08-19 12:11] lakshyagupta21 opened #91 "Hotspot still running when transfer is completed"

[2018-09-14 17:48] #91 closed

[2018-09-18 21:12] lognaturel commented on #65
Just got this again canceling an ongoing connection attempt that was hanging:

[code]

[2018-09-18 21:15] #89 closed

[2018-09-27 15:24] lakshyagupta21 opened #93 "Add Apache 2.0 license file"

[2018-09-28 02:37] lakshyagupta21 commented on #93
Added in #94 so closing this issue.

[2018-09-28 02:37] #93 closed

[2018-09-30 14:09] DreamyPhobic commented on #69
Can I work on this issue?  I think a bar graph will be fine for these stats.

[2018-10-01 20:55] DreamyPhobic commented on #69
There is only one type of information, i.e, their respective count. So I think bar graph will be good enough to provide a comparison b/w their count. Check below screenshot of the graph. Is it fine?
![screenshot_2018-10-02-02-21-22-641_org odk share 1](https://user-images.githubusercontent.com/33078171/46315092-14654380-c5ea-11e8-81ea-a456067f394b.png)

(Just for showing graph I have taken dummy v

[2018-10-02 16:48] shobhitagarwal1612 commented on #69
Looks really good! Now that the graph is there, I don't think we need the three texts in the bottom for the count anymore.

[2018-12-26 16:46] #49 closed

[2018-12-26 16:58] #69 closed

[2019-02-01 13:16] iadeelzafar opened #99 "(Suggestion) Show an empty view when there are no Filled Forms/Blank Forms"
Currently it shows nothing when there are no Filled forms/Blank forms.

![screenshot_11](https://user-images.githubusercontent.com/36811908/52124555-62975b80-264b-11e9-8812-b9c0b6591a07.png)

An empty view will make it more decent.

For example:
This is just an example. I'll make a decent one.

<img src="https://user-images.githubusercontent.com/36811908/52124584-7a6edf80-264b-11e9-816b-30aa4e5de1

[2019-02-12 10:22] iadeelzafar opened #100 "App Crashes On Clicking Send When There are no forms inside"
### Summary:
App Crashes On Clicking Send When There are no forms inside

### To Reproduce:
1- Install collect
2- Don't import any form, just go to Share and click on SEND.

I'd like to work on this issue. Suggestions are welcomed on how this issue could be resolved.

### Screenshot:
<img src="https://user-images.githubusercontent.com/36811908/52628624-dfdb8f80-2ed9-11e9-949a-8c783287888d.gif" hei

[2019-02-12 10:31] iadeelzafar opened #101 "Disable SCAN QR BUTTON when WIFI is not available"
### Summary
Disable SCAN QR BUTTON when WIFI is not available

### To Reproduce:
* Go to Receive Button
* Wait for WIFI to scan.
* If no WIFI is available, SCAN QR Button is still enable.

I'd like to work on this issue.

### Screenshots:
<img src="https://user-images.githubusercontent.com/36811908/52629197-f9310b80-2eda-11e9-9aa7-442169c0c578.gif" height="700" width="394">

[2019-02-12 18:48] shobhitagarwal1612 commented on #101
Thanks for filing an issue and volunteering to work on it.
Please claim the issue by commenting `@opendatakit-bot claim`

[2019-02-12 18:49] shobhitagarwal1612 commented on #100
I guess SEND button shouldn't be enabled at all if no forms are available
@lakshyagupta21 any thoughts?

[2019-02-16 06:15] lakshyagupta21 commented on #100
@shobhitagarwal1612 correct it shouldn't be enabled.
Expected behavior - `send` button should be disabled as well as there should be some empty view message on the screen.

[2019-02-16 06:22] lakshyagupta21 commented on #101
Sometimes the device is not able to detect wifi networks that fast.
`Scan QR Code` button just scans the QR code displayed in someone else's device and if that device wifi is in range it will connect. Its similar to 'SCAN WIFI' button but it does one step more that is device connection.

[2019-02-16 07:53] iadeelzafar commented on #100
@lakshyagupta21 I opened an issue before about the empty view too.

[2019-02-16 08:46] iadeelzafar commented on #101
@opendatakit-bot claim

[2019-02-16 08:47] iadeelzafar commented on #100
@opendatakit-bot claim

[2019-02-16 08:47] iadeelzafar commented on #99
@opendatakit-bot claim

[2019-02-16 10:11] iadeelzafar commented on #101
@lakshyagupta21 got it. It means this button must be enabled all the time.

[2019-02-19 06:53] ukanga opened #105 "Configurable ODK submissions destination folder"
The ODK submissions destination folder is not configurable, can we make it configurable?

 A user may not always want the submission instances in the same folder, for example, to differentiate submissions from different devices when synchronised. Having the user set the destination folder would allow them to be able to delete data from other devices. This stems from our use case, where:
1. A group

[2019-02-19 18:52] shobhitagarwal1612 commented on #99
Nice idea!

[2019-02-19 19:18] shobhitagarwal1612 commented on #101
I think we can close the issue now.
Please reopen if you still think it is a better idea to disable the button

[2019-02-19 19:18] #101 closed

[2019-02-20 15:15] #99 closed

[2019-02-20 15:17] iadeelzafar opened #108 "Add Up Button In SendFormsActivity and WifiActivity"
### Describe the feature:

* Adding an up button in SendFormsActivity and WifiActivity.
* What you guys think? @shobhitagarwal1612 @lakshyagupta21

### Screenshot:

 <img src = "https://user-images.githubusercontent.com/36811908/53101785-42710300-354c-11e9-9a68-f57ded0707a8.gif" height="700" width="394">

[2019-02-20 15:21] shobhitagarwal1612 commented on #108
Can you please describe the issue?

[2019-02-20 15:27] iadeelzafar commented on #108
@shobhitagarwal1612 It's a feature request. Adding an up button to these activities will help the user go back to the parent activity even at times when the user has opened these fragments from a notification. In such cases, if there's no up button and user presses back button, he/she will be taken back to the place(for e.g. a third party app) from where he opened that fragment.

[2019-02-20 18:26] lakshyagupta21 commented on #108
No "third party" app opens share but yes adding up button will help the user navigate the screens.

[2019-02-20 18:32] DreamyPhobic opened #109 "Problems after first time installation."
#### Problem Description
There are some problems at initial setup of the app. With initial setup, I mean there is no data in  collect as well as in share.
1. It will not show the Empty view TextView with text "No Blank forms available".
2. On clicking send button when there is no forms available, will result in crash. As reported in #100.

These two problems are arising, because at first time use,

[2019-02-20 18:34] DreamyPhobic commented on #109
I think few changes in ```setEmptyViewVisibility()``` and null check for cursor can resolve both issues.
I like to work on it myself.

[2019-02-20 19:53] DreamyPhobic opened #111 "App crashes on clicking the send button in FilledFormsFragment"
#### Problem Description:
App crashes when we click on the send button after selecting some forms.

#### Steps to reproduce:
1. Get a blank form(like All widgets) in collect.
2. Fill it and save it.
3. Now launch Share, and try to send the filled form.
4.  You will notice the crash there.

        at android.app.ActivityThread.performDestroyActivity(ActivityThread.java:4746)
        at android.app

[2019-02-20 19:54] DreamyPhobic commented on #111
I would like to work on it. Thank you.

[2019-02-21 00:34] iadeelzafar commented on #108
@lakshyagupta21 Alright. I'll make a PR for this soon.

[2019-02-21 03:29] lakshyagupta21 commented on #111
I'm not able to reproduce the issue. Can you elaborate on the steps to reproduce the issue? Or Share some screenshot or video to reproduce it.

[2019-02-21 04:43] #100 closed

[2019-02-21 10:28] DreamyPhobic commented on #111
![ezgif-1-62852d920df0](https://user-images.githubusercontent.com/33078171/53162067-430fa500-35f1-11e9-9cc0-432fcea9f70f.gif)

Its crashing when we try to send filled form but it doesn't happen with blank forms.. as shown in video.

[2019-02-21 15:02] lakshyagupta21 commented on #111
I'm still not able to reproduce the issue on my device, can you mention the specification of your test device.
And if possible also attach the crash logs.

[2019-02-21 15:09] iadeelzafar commented on #108
@lakshyagupta21 Could you please guide me how I can use this app as a user(like how it's meant to be used because currently all I see in the app is just a widgets form which I don't know what to do with it) so that I would be able to see how this app could be improved. Thank you!

[2019-02-21 15:15] lakshyagupta21 commented on #108
Have you tried [Collect](https://play.google.com/store/apps/details?id=org.odk.collect.android&hl=en), please try if you haven't then and read about [Collect](https://play.google.com/store/apps/details?id=org.odk.collect.android&hl=en) if you want more information about it. This app is just an addon to Collect. After trying both the apps then maybe you can come up with some feature ideas or improv

[2019-02-21 15:22] iadeelzafar commented on #108
Thank you. I'll definitely give it a shot.

[2019-02-22 21:16] DreamyPhobic commented on #111
My device - Realme U1, Android 8.1

Yeah, I think its happening with my device only, no issue found on Android 8.0, Moto e5 plus.

[2019-02-23 08:56] #71 closed

[2019-02-23 13:17] lakshyagupta21 commented on #111
Can you raise a PR for the fix of this crash?

[2019-02-23 14:07] shobhitagarwal1612 opened #115 "Remove singleton pattern from Application class"
`Share` application class stores a static reference to the application's context. We should get rid of it and use the context available to us via fragment/activity

[2019-02-23 16:27] shobhitagarwal1612 commented on #115
@opendatakit-bot claim

[2019-02-24 06:02] shobhitagarwal1612 opened #117 "Add an icon for the application"
Currently, we are using the default app icon for Share.
Random idea:
 - A combination of ODK Collect's icon and share icon

[2019-02-24 06:10] DreamyPhobic commented on #117
I like to work on it. And I like to mention one thing more, there is no bot for this repo like collect have. It will be more feasible to manage our GitHub workflow with that bot. We can ask the admin of the org to install it on this repo too.

[2019-02-24 07:28] lakshyagupta21 commented on #117
@DreamyPhobic Sure go ahead and post the designs in case you're interested in designing the icons.
And it would be good if you can ask on the 'general' channel about hooking up the bot for this project.

[2019-02-24 07:45] DreamyPhobic commented on #117
![odkcollect 2](https://user-images.githubusercontent.com/33078171/53296499-27e1a700-3836-11e9-96d6-3a3d98bcd8db.jpg)

[2019-02-24 07:45] DreamyPhobic commented on #117
what about this..?

[2019-02-24 08:14] iadeelzafar commented on #117
Just a try.
![f1](https://user-images.githubusercontent.com/36811908/53296844-0a144200-3836-11e9-958b-4052be1cf133.png)

[2019-02-24 08:29] ghost opened #118 "Toast message or snack bar does not appear upon exiting the app"
## DESCRIPTION
**Actual Behaviour**
If the user clicks the back button, the app exits without showing the Toast message or snack bar
**Expected Behaviour**
Toast or snack bar should appear upon clicking back button twice.
**Steps to reproduce it**
Click back button from the app's share screen

[2019-02-24 08:30] Chromicle commented on #118
Can I work on this, thank you!

[2019-02-24 09:35] iadeelzafar opened #119 "TargeSdkVersion should be 26 or higher"
Currently, the targetSdkVersion is 22 which is no longer supported.

Here's the lint error.

![screenshot_2](https://user-images.githubusercontent.com/36811908/53297478-236ebb80-3841-11e9-88c2-0b0deea9d334.png)

* I think we should update it to 28.
* After updating it to 28, we will also have to update the compileSdkVersion to 28 as well.
@lakshyagupta21 @shobhitagarwal1612 What you think?

[2019-02-24 09:38] lakshyagupta21 commented on #118
Why do you think this feature is required?

[2019-02-24 09:53] Chromicle commented on #118
@lakshyagupta21 because when using a multipage Android app, it is all too easy to accidentally back your way out of the app this feature will remove that issue know

[2019-02-24 10:37] iadeelzafar opened #120 "On screen rotation selected forms get unselected"
### Describe the bug:

On screen rotation selected forms get unselected

### Steps to Reproduce the issue:

* Select a form
* Rotate the device
* They will get unselected.
* This bug is in both FilledForms and BlankForms Fragment.

### Screenshot

<img src="https://user-images.githubusercontent.com/36811908/53298060-bf9cc080-3849-11e9-8478-37a8809323bb.gif" height="700" width="394">

@lakshyagupta

[2019-02-24 11:06] lakshyagupta21 commented on #120
Sure go ahead.

[2019-02-24 11:24] Chromicle commented on #118
@lakshyagupta21 can I add the new issue I caught which is important

[2019-02-25 02:24] lakshyagupta21 commented on #118
@Chromicle I've seen this feature in apps which contains tabs on the home screen. And we don't have one on our home screen, so I don't think we need this unless some user reports this issue.

[2019-02-25 03:25] Chromicle commented on #118
@lakshyagupta21 Yeah ! before reporting that type of issue if we add means it gives good user experiance.
Or else we can put the Toast message that he/she exited out of the app so user can know he exited the app.
hopes it useful for good user experiance.

[2019-02-25 09:00] DreamyPhobic commented on #111
yeah sure, I will do it.

[2019-02-25 13:41] ghost opened #121 "Add list item divider to filled forms and blank forms"
## Description
Currently, there are no list item dividers to the filled forms and blank forms
add the list item dividers to filled forms and blank forms
as these dividers are often used to separate different list items and specify the boundaries of each list item layout which is clickable. This holds good for positive user experience.

[2019-02-25 13:42] Chromicle commented on #121
can I work on this thankyou!

[2019-02-25 14:01] Chromicle commented on #118
@lakshyagupta21 I had a onother doubt that can we add splash screen and sharing of app to others with inviting link

[2019-02-25 17:26] lakshyagupta21 commented on #118
For splash screen and sharing app invitation link first we need to bring this app to a release state then we will think about these ideas, for now, these are of very low priority and for splash screen, we need to finalize the app icon then we can go ahead with the splash screen.

[2019-02-25 17:28] lakshyagupta21 commented on #118
Even I'm not convinced with adding a toast or snack bar for the back button, even collect doesn't have this feature, maybe @shobhitagarwal1612 can help us here.

[2019-02-25 17:31] lakshyagupta21 commented on #121
Sure @Chromicle go ahead maybe card item would be a good idea for better user experience.

[2019-02-26 16:13] Chromicle commented on #121
hello @lakshyagupta21 due to some reasons I can not log in my GitHub account I tried to get back my account for up to 7 hours but it does not possible so, I created the new account named @chromicle only I will send the pull request now

[2019-02-27 13:32] iadeelzafar opened #125 "Hotspot Connection TextView Should Be Centered"
### Describe the issue:
The hospot connection info textview is right below the toolbar which isn't very pleasant.

### Expected Behaviour:
The hospot connection info textview should be centered vertically and horizontally.

### Screenshot:
<img src="https://user-images.githubusercontent.com/36811908/53493656-af8d1700-3abd-11e9-84c5-cfc34eab6a32.gif" height="700" width="394">

[2019-02-27 14:31] jddeep commented on #121
@lakshyagupta21 I have got experience in UX designing. You can take a look at my profile. Can you kindly assign it to me? I shall work on it.

[2019-02-27 14:35] jddeep commented on #119
@lakshyagupta21 @shobhitagarwal1612 I would like to work on this issue. Shall I?

[2019-02-27 14:37] lakshyagupta21 commented on #125
@iadeelzafar I don't think this is required, because if you add it to the center dialog box will hide the text and for some devices, QR Code will be shown directly in the center without dialog box, so indentation of text view looks fine.

[2019-02-27 14:39] lakshyagupta21 commented on #121
@jddeep Sorry PR is already raised for this issue and @Chromicle is already working on it. You can pick up any other issue which is not already taken.

[2019-02-27 14:41] iadeelzafar commented on #125
Thanks for reviewing. Got your point. This can be closed now.

[2019-02-27 14:41] #125 closed

[2019-02-27 14:53] jddeep commented on #86
@lakshyagupta21 i would like to work on this. Shall i? Kindly assign it. Thanks

[2019-02-27 14:54] jddeep commented on #119
@lakshyagupta21 Please assign it for me. Thanks

[2019-02-27 14:59] iadeelzafar commented on #119
@jddeep This issue needs discussion.

[2019-02-27 15:03] jddeep commented on #119
@iadeelzafar so let's discuss then.

[2019-02-27 15:03] jddeep commented on #119
Let's bring in mentors as well.

[2019-02-27 15:09] iadeelzafar commented on #119
@jddeep Wait for the collaborators/maintainers to look upon this issue.

[2019-02-27 16:46] shobhitagarwal1612 commented on #121
@jddeep Would you like to give this issue https://github.com/opendatakit/share/issues/117 a try?

[2019-02-27 17:01] shobhitagarwal1612 opened #127 "Add templates for issue and pull request"
We should have a standard template like in any other ODK's GitHub repository for creating new issues and opening pull requests

[2019-02-27 17:55] Chromicle commented on #121
But on #117 @Dreamyphobic is working know

[2019-02-27 19:33] shobhitagarwal1612 commented on #117
@DreamyPhobic I like your design but people might confuse it for ODK Collect since both will look exactly the same at a first glance. @lakshyagupta21 @yanokwa @lognaturel Thoughts?

@iadeelzafar I like the flat design approach in the background but the icon needs a bit more rework. Nice work though!

[2019-02-27 19:35] shobhitagarwal1612 commented on #121
More designs will provide more options to choose an icon from. :smiley:

[2019-02-28 05:51] shobhitagarwal1612 commented on #127
Closed in #128

[2019-02-28 05:51] #127 closed

[2019-02-28 05:55] shobhitagarwal1612 opened #129 "Update README"
#### Problem description
The project has been renamed to `skunkworks-crow` since it is still unreleased and an experimental project. README also needs to be updated. `Share` should be replaced with `skunkworks-crow`

[2019-02-28 05:57] shobhitagarwal1612 opened #130 "Rename project directory"
#### Problem description
The project directory needs to be renamed from `share_app` to `skunkworks_crow`

[2019-02-28 06:02] iamvasuh commented on #129
i will be happy to do this.

[2019-02-28 06:19] iamvasuh commented on #129
done and PR

[2019-02-28 06:21] iamvasuh commented on #130
i would like to work on this.

[2019-02-28 11:52] Chromicle commented on #121
Yeah @shobhitagarwal1612 it is correct can I also suggest

[2019-02-28 11:53] Chromicle commented on #129
@iamvasuh before making PR make sure that it assigned to you😁

[2019-02-28 17:09] shobhitagarwal1612 commented on #129
@iamvasuh Please claim the issue by commenting `@opendatakit-bot claim`

[2019-02-28 17:10] shobhitagarwal1612 commented on #130
Hey @iamvasuh. You are already working on https://github.com/opendatakit/skunkworks-crow/pull/131. Maybe someone else can take on this one until you are working on that.

[2019-02-28 17:19] iamvasuh commented on #130
ok no problem

[2019-02-28 17:20] prajurock commented on #130
Can i work on this issue?

[2019-02-28 17:22] iamvasuh commented on #129
@opendatakit-bot claim

[2019-02-28 17:22] shobhitagarwal1612 commented on #130
Yes, please. You can claim the issue by commenting `@opendatakit-bot claim` below

[2019-02-28 17:25] prajurock commented on #130
@opendatakit-bot claim

[2019-02-28 17:38] iamvasuh commented on #129
u can close this issue now @opendatakit-bot

[2019-02-28 18:16] lakshyagupta21 opened #136 "Change the default hotspot name"
#### Software and hardware versions
Devices having Android version < 8
#### Problem description
For devices having android version < 8, by default hotspot name is set to ODK-SHARE-odk-share which should be changed to ODK-SKUNKWORKS-odk-skunkworks.
#### Steps to reproduce the problem
1. Press 'Send'
2. Select the forms
3. Press 'Send'
4. Start Hostpot
5. Default name would show ODK-SHARE-odk-share

[2019-02-28 18:18] moksh-mahajan commented on #50
Can I work on this isssue? @lakshyagupta21 @shobhitagarwal1612

[2019-02-28 18:20] lakshyagupta21 commented on #50
Sure, you can claim this issue by typing `@opendatakit-bot claim`

[2019-02-28 18:28] moksh-mahajan commented on #50
To be clear, I just need to change the title of the tabs, right?

[2019-02-28 18:38] lakshyagupta21 commented on #50
Nope, on the main screen, there are two buttons send and receive so you need to change their text in such a way they give more context about their functionality.

[2019-02-28 18:42] moksh-mahajan commented on #50
Okay!

[2019-02-28 18:42] moksh-mahajan commented on #50
@opendatakit-bot claim

[2019-02-28 19:15] moksh-mahajan commented on #79
Is this issue open to work on? @lakshyagupta21

[2019-02-28 19:18] prajurock commented on #136
@lakshyagupta21 i would like to work

[2019-02-28 19:18] prajurock commented on #136
@opendatakit-bot claim

[2019-02-28 19:35] lakshyagupta21 commented on #79
@moksh-mahajan We may release 1.0 when we support all device, for now, let it be in the same state.

[2019-02-28 19:36] moksh-mahajan opened #138 "Clean up casting."
#### Problem description
One of the things that google announce in IO 2017 is something that’s called ‘cast away’ :). Android developer don’t have to do a manual casting for findViewById(). It’s a simple change. But for a seasoned programmer, a clean code like this can make you very happy and it helps with your coding mood :)

[2019-02-28 19:52] iamvasuh opened #140 "Name of the app should change from Share to skunkworks-crow"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2019-02-28 19:53] iamvasuh commented on #140
shall i work on this?
@shobhitagarwal1612 and @lakshyagupta21

[2019-02-28 19:53] iamvasuh commented on #140
@opendatakit-bot claim

[2019-02-28 19:58] prajurock commented on #140
I don't understand your issue.?

[2019-02-28 20:00] shobhitagarwal1612 commented on #136
@lakshyagupta21 Is there a specific reason as to why we can't name the hotspot with a shorter name, like `skunkworks-crow`?

[2019-02-28 20:04] iamvasuh commented on #140
its about the app name

[2019-02-28 20:09] rohap97 opened #142 "Fix Grammatical mistakes and typos found in README.md"
#### Problem description
There are some grammatical mistakes and typos in the README.md file.

#### Steps to reproduce the problem
Read the README.md file

[2019-02-28 20:09] rohap97 commented on #142
@opendatakit-bot claim

[2019-02-28 20:10] lakshyagupta21 commented on #136
@shobhitagarwal1612 We can have skunkworks-crow. My idea is to have something in prefix every time a user creates a hotspot so that nearby devices can uniquely identify the network created by the skunkwork-crow app.

[2019-02-28 20:10] rohap97 commented on #142
@opendatakit-bot claim --force

[2019-02-28 20:17] lakshyagupta21 commented on #142
@rohap97 Before raising a PR can you describe the issue raised? What kind of grammatical mistakes and typos are there?

[2019-02-28 20:19] lakshyagupta21 commented on #138
@moksh-mahajan Thanks for raising an issue.
 Can you describe more about the issue and how are you going to solve it? Some links and references would be helpful.

[2019-02-28 20:46] rohap97 commented on #142
@lakshyagupta21  Sir, There are few grammatical mistakes in the README.md file. I am pointing out one of the mistakes for your reference.

In Section 3.2 , Paragraph 7, The starting of the sentence is with "Is". It should be started with "It".
Here's the extract :-
"Is user wants to manually connect to it then the screen shows the network name so that user can connect to it by tapping on the netwo

[2019-03-01 03:48] moksh-mahajan commented on #138
@lakshyagupta21 Though it can be done manually by going to all activities and deleting the redundant casting code before all findViewById () methods, but Android Studio provides an easy way to do this: https://link.medium.com/S4L8hzGZGU

[2019-03-01 04:42] moksh-mahajan opened #144 "Update the compile and target SDK version."
#### Problem description
The compileSdkVersion and targetSdkVersion which are set to versions 27 and 22, respectively, must be changed to 28( Android Pie) as the latest Android APIs must be used to make use of the latest features.

#### Steps to reproduce the problem
Go to app-level build.gradle file. Here compileSDKVersion is set to 27 and targetSDKVersion is set to 22. These should be updated to

[2019-03-01 04:42] moksh-mahajan commented on #144
@shobhitagarwal1612 @lakshyagupta21 Can I work on this issue?

[2019-03-01 05:20] rohap97 commented on #142
@lakshyagupta21 Sir, should I wait for Pull Request #135 to get merged with the master branch, because the issue that is fixed by Pull Request #135 still persists in my build.

[2019-03-01 06:51] moksh-mahajan commented on #50
@lakshyagupta21 @lakshyagupta21 Submitted a PR. Please review it.

[2019-03-01 07:14] lakshyagupta21 commented on #140
Any reasons why you closed this issue?

[2019-03-01 07:26] moksh-mahajan opened #146 "Addition of progress bar while scanning for wifi."
#### Problem description
When clicking on Scan Wifi button on Connect to Wifi screen, it shows a simple TextView containing text "Scanning. Please wait". My idea is to include a progressBar or progressDialog for this to enhance the user experience.
![20190301_125301](https://user-images.githubusercontent.com/36201975/53622875-3f97a180-3c21-11e9-9f65-061c3c34f12a.gif)

#### Steps to reproduce the p

[2019-03-01 07:27] moksh-mahajan commented on #146
@lakshyagupta21 @shobhitagarwal1612 Can I start working on this issue?

[2019-03-01 07:28] lakshyagupta21 commented on #144
This issue is already opened #119

[2019-03-01 07:28] #144 closed

[2019-03-01 07:30] prajurock opened #147 "Adding Back button in activity"
#### Software and hardware versions
Android v8.1.0, device used Ausu Zenfone MAx M1 pro

#### Problem description
Adding Back button in activity

####
![screenshot_20190301-125224](https://user-images.githubusercontent.com/26791135/53623054-ea0fc480-3c21-11e9-89ec-b1a6b2602919.png)
![screenshot_20190301-125231](https://user-images.githubusercontent.com/26791135/53623056-ea0fc480-3c21-11e9-8271-942

[2019-03-01 07:30] prajurock commented on #147
@opendatakit-bot claim

[2019-03-01 07:31] lakshyagupta21 commented on #146
Sure go ahead,  Make sure you assign this issue to yourself first by `@opendatakit-bot claim`

[2019-03-01 07:32] moksh-mahajan commented on #146
@opendatakit-bot claim

[2019-03-01 07:33] lakshyagupta21 commented on #147
@prajurock, This issue is already raised in #108 and someone else is already working on that, so please close this issue.

[2019-03-01 07:34] iamvasuh commented on #140
i thought its resolved now

[2019-03-01 07:35] prajurock commented on #147
Ok.

[2019-03-01 07:35] #147 closed

[2019-03-01 07:37] lakshyagupta21 commented on #140
It will be automatically closed when the PR against this issue gets merged.

[2019-03-01 08:35] Chromicle opened #148 "No counter indicator for selcted ones."
#### Problem description
In filled forms and blank forms we do not how many forms selected if there are the large number of forms user donot know how many forms he selected

#### Expected behavior
 app should says how many forms are selected to send to others

[2019-03-01 08:36] Chromicle commented on #148
@shobhitagarwal1612  can I work on this

[2019-03-01 09:20] moksh-mahajan commented on #148
This seems nice to work on.

[2019-03-01 12:52] #140 closed

[2019-03-01 13:19] #121 closed

[2019-03-01 22:01] shobhitagarwal1612 commented on #146
A progress dialogue would be a better option in this case. Also, make sure that it works well if screen is rotated while it's being displayed

[2019-03-01 22:09] shobhitagarwal1612 commented on #50
We're you able to add this info to the filled form list?

[2019-03-01 22:12] #130 closed

[2019-03-02 08:46] shobhitagarwal1612 commented on #119
Thanks for raising the issue @iadeelzafar

Updating to targetSdkVersion 28 also means that we will have to ask for the [runtime permissions](https://developer.android.com/training/permissions/requesting)

[2019-03-02 08:48] jddeep commented on #119
@shobhitagarwal1612 I would like to work on this.

[2019-03-02 09:22] iadeelzafar commented on #119
@shobhitagarwal1612 yeah. Google Play requires new apps to Target API 26 or higher. So, which API do you think would the best to Target?

[2019-03-02 09:23] jddeep commented on #119
I think it should be 26

[2019-03-02 09:29] prajurock opened #153 "Hotspot name not changing immediately"
#### Software and hardware versions
Android v8.1.0, device used Asus max m1

#### Problem description
Hotspot name not changing immediately

#### Step to reproduce
1.open settings
2.click on Hotspot SSIS
3 Change name
4 Name is not changing

#### Expected behavior
name should be change immediately

![Uploading video2gif_20190302_144441.gif…](GIF)

[2019-03-02 10:41] shobhitagarwal1612 opened #154 "Unable to receive blank forms in Android 9 devices"
#### Software and hardware versions
Android v9, Moto G5 Plus

#### Problem description
Unable to receive forms in Android 9 due to a known bug.
https://stackoverflow.com/questions/53005755/how-to-get-wifi-ssid-in-android-9-0pie
I ensured that location services were enabled and the permissions were given but still it doesn't work

#### Steps to reproduce the problem
Try to receive any blank form on

[2019-03-02 11:11] #129 closed

[2019-03-02 12:55] lakshyagupta21 commented on #153
@prajurock Can you upload the gif again so that we can understand what the issue is?

[2019-03-02 14:32] Chromicle opened #156 "advice from the Android developers blog related to aspect ratios"
The Google Play console advises that for any android app that Added support for higher Aspect ratio devices like Samsung S8.

 blog post link = [url](https://android-developers.googleblog.com/2017/03/update-your-app-to-take-advantage-of.html)

additionally, update the gradle version from 4.10.1 instead of 4.4

[2019-03-02 14:33] Chromicle commented on #156
@shobhitagarwal1612 @lakshyagupta21 can I work on this, thank you!

[2019-03-02 14:37] Chromicle commented on #108
Hello @iadeelzafar update it to settings preference also so no other issue will raise about this type of problem

[2019-03-02 14:47] shobhitagarwal1612 opened #157 "Empty transfer dialog if blank form already available"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
When transferring blank forms if all are already available at the receiver, then the resulting dialog is blank

#### Steps to reproduce the problem
Send blank forms which are already available in the receiver

#### Expected behavior
Result dialog should display that `Forms are already available` or somethi

[2019-03-02 15:03] rohap97 commented on #157
@shobhitagarwal1612  I would like to work on this.

[2019-03-02 15:03] rohap97 commented on #157
@opendatakit-bot  -claim

[2019-03-02 15:05] lakshyagupta21 commented on #157
Type `@opendatakit-bot claim`

[2019-03-02 15:05] rohap97 commented on #157
@lakshyagupta21 can you please check out my issue #142

[2019-03-02 15:05] rohap97 commented on #157
@opendatakit-bot claim

[2019-03-02 15:07] iadeelzafar commented on #108
@opendatakit-bot claim

[2019-03-02 15:08] iadeelzafar commented on #108
@opendatakit-bot claim --force

[2019-03-02 15:17] shobhitagarwal1612 commented on #119
Sounds good to me.
@iadeelzafar Since you are already working on another issue, can you let @jddeep take this one on?

[2019-03-02 15:18] prajurock commented on #153
![GIF](https://user-images.githubusercontent.com/26791135/53683899-89b97980-3d2c-11e9-9d7f-d2d76db08c95.gif)

[2019-03-02 15:19] iadeelzafar commented on #119
Sure. @jddeep Go ahead. Good Luck!

[2019-03-02 15:20] iadeelzafar commented on #119
@shobhitagarwal1612 But you didn't answered which API we should target? 26?

[2019-03-02 15:21] prajurock commented on #153
@opendatakit-bot claim

[2019-03-02 15:23] shobhitagarwal1612 opened #158 "Upgrade dagger dependency"
#### Problem description
We use [dagger](https://github.com/google/dagger) for injecting dependencies. The current version is 2.16.
A new version of dagger 2 is also available (2.19).

[2019-03-02 15:24] shobhitagarwal1612 opened #159 "Update RxJava 2 dependency"
Problem description
[RxJava 2](https://github.com/ReactiveX/RxJava) dependency should be updated.

[2019-03-02 15:25] shobhitagarwal1612 commented on #119
API 26 should be fine for now

[2019-03-02 15:27] Chromicle commented on #159
Can I work on this @shobhitagarwal1612

[2019-03-02 15:31] prajurock commented on #158
I want to work on this issue.

[2019-03-02 15:31] shobhitagarwal1612 commented on #159
Yeah sure, go ahead.

[2019-03-02 15:32] iadeelzafar commented on #119
Alright.
@jddeep You can type ``` @opendatakit-bot claim ``` to claim this issue.

[2019-03-02 15:34] iadeelzafar commented on #119
@shobhitagarwal1612 How may I un-assign myself?

[2019-03-02 15:34] shobhitagarwal1612 commented on #158
Hey @prajurock. You are already working on an issue. Please finish that one before taking up any new one. https://github.com/opendatakit/skunkworks-crow/pull/152

[2019-03-02 15:38] Chromicle commented on #159
can I update Rx android also @shobhitagarwal1612

[2019-03-02 15:39] jddeep commented on #119
Okay then I will be working on the issue. Thanks guys.

[2019-03-02 15:41] Chromicle commented on #159
@opendatakit-bot claim

[2019-03-02 15:42] shobhitagarwal1612 commented on #159
You can't claim more than one issue at a time. @opendatakit-bot is trained to prevent assigning multiple issues to a single contributor simultaneously.

[2019-03-02 15:44] Chromicle commented on #159
Oh! I will make the PR now itself so I can prevent that

[2019-03-02 15:44] shobhitagarwal1612 commented on #119
Please claim the issue then @jddeep

Also before you start coding, Please list down the tasks that need to be performed in order to solve this issue here in this thread.

[2019-03-02 15:47] iamvasuh commented on #158
can i work on this? @shobhitagarwal1612
@lakshyagupta21

[2019-03-02 15:48] iamvasuh commented on #158
@opendatakit-bot claim

[2019-03-02 16:17] jddeep commented on #119
@shobhitagarwal1612 please assign me the issue. Thanks

[2019-03-02 16:18] iadeelzafar commented on #119
@jddeep read my comment above.

[2019-03-02 16:19] jddeep commented on #119
@opendatakit-bot claim

[2019-03-02 16:19] jddeep commented on #119
@opendatakit-bot claim --force

[2019-03-02 17:23] #136 closed

[2019-03-02 17:26] jddeep commented on #65
@shobhitagarwal1612 I would like to work on this issue. Can I be assigned?

[2019-03-02 17:31] lakshyagupta21 commented on #65
@jddeep You're free to work on any issue if no one has shown interest on it or no one has else claimed it.
But make sure you claim issue first by `@opendatakit-bot claim`

[2019-03-02 17:39] #115 closed

[2019-03-02 18:35] shobhitagarwal1612 commented on #65
While working on #155 I think I might have fixed that unknowingly. Please check out that branch before taking this issue on

[2019-03-02 19:51] lakshyagupta21 commented on #142
Don't depend on other PRs because sometimes PR needs time for reviews, changes, etc. If you both are doing the changes in the same files then also there is no issue.

[2019-03-02 20:18] lakshyagupta21 commented on #153
I think that feature is not supported yet, because for some devices its possible to change the hotspot name for some its not, that the reason its still in backlog, as much as I remember we can change the hotspot name on Android version < 8, for greater than 8 version it android system assigns some random SSID to hotspot which starts with AndroidShare, developer can't play with ssid names.
So you m

[2019-03-02 20:22] lakshyagupta21 commented on #86
Sure but can you check once whether this issue is reproducible or not.

[2019-03-02 20:36] sushmita0810 commented on #148
Can I work on this

[2019-03-02 20:37] lakshyagupta21 opened #164 "Extra spacing present in Filled forms tab"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
There is some extra spacing present above the item separator in filled forms tab.
#### Steps to reproduce the problem
1. Tap on `Send`
2. Open `Filled forms` tab
#### Expected behavior
The extra spacing should not be present. Open `Blank Forms` tab to see the actual spacing.
#### Other information
Things y

[2019-03-02 20:41] sushmita0810 commented on #148
@opendatakit-bot claim

[2019-03-02 20:41] lakshyagupta21 commented on #148
I think @Chromicle raised this issue and he asked to work on this first, so if he is not working then maybe you can take this up.
@Chromicle are you working on this?  If yes then please claim to avoid confusion.

[2019-03-02 20:44] sushmita0810 commented on #164
@opendatakit-bot claim

[2019-03-03 04:32] lakshyagupta21 commented on #120
@iadeelzafar Please claim this issue, so no one else gets confused and claim this.

[2019-03-03 05:34] shobhitagarwal1612 commented on #156
Let's not add this until it is actually requested for. This project will be used by existing ODK Collect users and statistics show that they don't use very high-end phones. So closing this issue.

[2019-03-03 05:34] #156 closed

[2019-03-03 05:36] Chromicle commented on #148
@lakshyagupta21 Yeah I am working on this soon I will send the PR

[2019-03-03 05:38] Chromicle commented on #156
Hoh! When I installed this app in my friend phone to share forms I faced this issues so I added issue, if not required then its ok

[2019-03-03 05:52] Chromicle commented on #117
How is this
made all types
[ic_launcher.zip](https://github.com/opendatakit/skunkworks-crow/files/2922804/ic_launcher.zip)

### sample
![ic_launcher](https://user-images.githubusercontent.com/48018942/53691556-74813100-3da6-11e9-8dd9-f461a8787873.png)

[2019-03-03 05:56] shobhitagarwal1612 commented on #156
Can you answer these questions.
1. Which phone did you use?
2. Did the warning show up in Android studio or somewhere else?
3. Did you face any problem while running the app in the above mentioned phone?

[2019-03-03 05:57] shobhitagarwal1612 commented on #156
Also, please fill out the issue template from now on. That provides a lot of insight into the issue

[2019-03-03 06:07] Chromicle commented on #156
1. I use samsung J8
2. No warning is showing in android studio but I changed the gradle to higher version for that
3. the app is not fitting to entire screen. it is showing warning in phone

[2019-03-03 06:52] #158 closed

[2019-03-03 08:46] #159 closed

[2019-03-03 14:35] rohap97 commented on #142
@lakshyagupta21 Ok Sir. I will keep that in mind

[2019-03-03 16:52] tavishjain commented on #120
If no one is actively working upon this can I work on this ?

[2019-03-03 16:53] tavishjain commented on #118
Yes, we can consider adding a Snackbar while exiting

[2019-03-03 16:54] lakshyagupta21 commented on #120
@tavishjain, @iadeelzafar has already raised a PR for this but I think he forgot to claim this issue.

[2019-03-03 16:54] tavishjain commented on #118
Yes, we can consider adding a Snackbar while exiting

[2019-03-03 18:58] iadeelzafar commented on #120
@opendatakit-bot claim

[2019-03-04 05:41] sushmita0810 commented on #164
I think that this problem might due to some error in InstanceList.java class
Here I don't see any effect on the app when I make changes to onCreate class in it.
In the onCreate class when I am doing any change in Linear Layout manager like I changed the orientation from vertical to horizontal no changes occur in my android app.

[2019-03-04 06:08] iamvasuh opened #173 "tabs appear too close on rotation"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
when on rotating the screen, the two tabs "Filled Forms" and "Blank Forms" appear too close.

#### Steps to reproduce the problem
rotate the screen and tap on the "Send" button

#### Expected behaviour
both the tabs should be in a uniform space to each other

#### Other information
Things you tried, stack

[2019-03-04 13:41] lakshyagupta21 commented on #173
@iamvasuh Please always fill the template of an issue, do not leave it blank.

[2019-03-04 13:45] lakshyagupta21 commented on #164
I don't understand your issue, what change are you trying to make?

[2019-03-04 13:51] iamvasuh commented on #173
done

[2019-03-05 04:08] lakshyagupta21 commented on #164
If you would see `list_item_checkbox.xml` file which is used as an item layout for filled form, there are two text view present which we never used in filled form tab so the extra spacing is because of those two items, if you can change their visibility to GONE then this extra spacing will be removed.

[2019-03-05 17:05] Chromicle opened #174 "Update UI of bottam bar instead of direct buttons"
#### Problem description
Currently, for a bottom bar, there are directly buttons are there make a better UI and propose below the comments section
the better UI holds for a better user experience so there should be good UI

#### Expected behavior
good UI design so it holds for good user experience

[2019-03-05 17:06] Chromicle commented on #174
@shobhitagarwal1612 can I work on this thank you!

[2019-03-05 17:07] Chromicle commented on #174
![ui](https://user-images.githubusercontent.com/48018942/53823194-46af0e80-3f97-11e9-9fdc-4df5847e7a6d.jpg)

[2019-03-05 20:34] MarkGhabbour commented on #65
@opendatakit-bot claim

[2019-03-06 03:36] shobhitagarwal1612 commented on #174
Some padding would make it look even better

[2019-03-06 03:47] shobhitagarwal1612 opened #175 "Add app info in About"
#### Problem description
There is no information about the current app info in About screen

#### Steps to reproduce the problem
Goto options menu > About

#### Expected behavior
Above `Open Source Licenses`, a new entry should be present with the current app info

[2019-03-06 03:51] shobhitagarwal1612 opened #176 "Improve title of Open Source Licenses"
#### Software and hardware versions
Moto G5 Plus, Android 9.

#### Problem description
Title of open source licenses screen is not correct on android 9,

#### Steps to reproduce the problem
1. In the overflow menu from the main screen, tap 'about'
2. Tap 'open source libraries / licenses'

See that the menu shows the file URI.

#### Expected behavior
Should be `Open Source Licenses` instead

####

[2019-03-06 04:11] shobhitagarwal1612 opened #177 "No space between left margin and title in action bar"
#### Software and hardware versions
Moto G5 Plus, Android 9

#### Problem description
There is no space between title name and left margin in action bar

#### Steps to reproduce the problem
Open any screen and notice the action bar

#### Expected behavior
Space between the title and left margin in all of the screens

#### Other information
Screenshot:
![image](https://user-images.githubusercontent

[2019-03-06 04:28] shobhitagarwal1612 opened #178 "Add more charts in statistics fragment"
#### Problem description
We only display a bar graph will the total count of forms sent/received/reviewed. It'd be great to see more information about them. For example, a bar/line graph plotted between frequency and date.

#### Steps to reproduce the problem
Select any form > Statistics Fragment

#### Expected behavior
By default, the current graph should be visible, but a dropdown should be avai

[2019-03-06 04:41] shobhitagarwal1612 opened #179 "Remove redundant reviewed tab"
There are 4 tabs displayed on clicking on any form from the main screen
 - Statistics
 - Received
 - Sent
 - Reviewed

Both `received` and `reviewed` contains the same list of instances. The items of `received` tab are non-clickable making it useless since the same list is also available in `reviewed`. The items in the `reviewed` tab are clickable and the instances can be reviewed and marked as `a

[2019-03-06 05:15] iadeelzafar commented on #179
Maybe we can combine the two by renaming the Reviewed Tab to Received and remove the old Received Tab. And then, in Received tab we can mark the instances as approved/rejected using an icon/label.

[2019-03-06 05:24] iadeelzafar commented on #178
How about we add a filter to show the statistics for a particular date/month or between a specific time period?

[2019-03-06 05:28] Chromicle commented on #174
Just now I added the option that when we click the button the background colur changes to blue like this
Ok I will add some padding now
![screenshot_20190306-103225_skunkworks-crow](https://user-images.githubusercontent.com/48018942/53858047-852be400-3ffe-11e9-9751-e49f68a6b694.jpg)

[2019-03-06 05:30] iadeelzafar commented on #174
@Chromicle Nice work. I think you should improve it this way:
* When the user clicks on the button, the foreground color(color of the Text) should be white and the color of the background should be the Primary Color of the app.

[2019-03-06 05:31] rohap97 commented on #177
@shobhitagarwal1612 Sir, Can I work on this?

[2019-03-06 05:32] rohap97 commented on #176
@shobhitagarwal1612 Sir, Can I work on this?

[2019-03-06 05:53] rohap97 commented on #175
@shobhitagarwal1612 Sir, can I work on this?

[2019-03-06 06:09] Chromicle commented on #177
@rohap97 as you asked for #176 I will work on this
@shobhitagarwal1612 can I do this

[2019-03-06 06:12] Chromicle commented on #174
@iadeelzafar Thanks for suggestion but, if I make like that means the app should not look colorful as all the colors are only the primary  color only and white so I added the light blue color to that button so it looks good
that is my opinion

[2019-03-06 06:16] iadeelzafar commented on #174
@Chromicle We need to follow Material Design guidelines. It suggests to use two colors i.e. Primary and Secondary.
[Material Design](https://material.io)

[2019-03-06 06:17] iadeelzafar commented on #174
@Chromicle We need to follow Material Design guidelines. It suggests to use two colors i.e. Primary and Secondary.
[Material Design](https://material.io)

[2019-03-06 06:43] rohap97 commented on #177
@Chromicle, @shobhitagarwal1612  I have already fixed this issue. Generating Pull Request for the same. If my Pull Request isn't up to standards, @Chromicle you are welcome to fix this.

[2019-03-06 06:44] rohap97 commented on #177
@opendatakit-bot --claim

[2019-03-06 07:02] rohap97 commented on #177
@opendatakit-bot claim

[2019-03-06 07:17] rohap97 commented on #176
@opendatakit-bot claim

[2019-03-06 07:50] rohap97 commented on #175
@shobhitagarwal1612 Sir, Can you please share what will the contents of the About Screen.

[2019-03-06 12:20] iamvasuh commented on #179
We can apply the features of the reviewed tab to the received tab or vice-versa.
Instead of removing the redundant tab we can use it to display some other productive information.

[2019-03-06 14:25] #173 closed

[2019-03-06 14:38] lakshyagupta21 commented on #178
It would be useful to get more information out of data and display to the user.
For example.
1. Showing daily reviews done
2. Showing daily forms transfer/submission

[2019-03-07 10:34] iamvasuh opened #184 "no action takes place on tapping the buttons"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
When tapped on "Send" and "Select all", no action takes place.

#### Steps to reproduce the problem

![sent](https://user-images.githubusercontent.com/42612183/53949936-1d09fa80-40f1-11e9-88a9-343c8df4a869.gif)

#### Expected behavior
Maybe some activity can be associated with the respective buttons **OR**

[2019-03-07 10:36] iamvasuh commented on #184
@shobhitagarwal1612  @lakshyagupta21  should I remove it OR add some activity with it ?

[2019-03-07 20:26] sushmita0810 commented on #175
@rohap97 are u working on this?

[2019-03-07 22:53] rohap97 commented on #175
@sushmita0810 No, I am not working on this.

[2019-03-08 05:53] shobhitagarwal1612 commented on #176
@rohap97 Please do not claim a new issue until the last claimed issue is resolved or you have unclaimed it. This gives other contributors an equal opportunity to contribute to the project.

[2019-03-08 05:53] shobhitagarwal1612 commented on #177
@rohap97 Please do not claim a new issue until the last claimed issue is resolved or you have unclaimed it. This gives other contributors an equal opportunity to contribute to the project.

[2019-03-08 09:40] sarrocks1 opened #186 "App Crashes on pressing send button in Android pie"
Android v9, device - Nokia 7 plus..

Problem - App crashes when send button is pressed

Steps - In Android v9 , Nokia 7 plus, Select any form and press send button. The activity(page) refreshes once and the typical app has crashed message is shown.

I am attaching screenshot of the crash below.

![skunk-bug](https://user-images.githubusercontent.com/29746985/54020635-3aec6380-41b4-11e9-83ee-b60deb

[2019-03-08 09:56] Chromicle commented on #177
@shobhitagarwal1612 can I submit the PR for this

[2019-03-08 11:08] Chromicle commented on #186
@sarrocks1 yesterday I also Used the Android 9 of pie I didn't get these type of error

[2019-03-08 14:30] #164 closed

[2019-03-08 14:44] lakshyagupta21 commented on #186
@sarrocks1 Can you check whether PR #155 is working fine or not on your device.

[2019-03-08 16:43] sarrocks1 commented on #186
@lakshyagupta21  Nope , it doesn't work. I guess it must be device problem rather than Android v9 problem.

[2019-03-08 17:49] shobhitagarwal1612 commented on #186
Can you paste the error thrown in the logcat?

[2019-03-08 18:05] iamvasuh commented on #184
@shobhitagarwal1612  @lakshyagupta21  can u plz take one glance at this issue?
I wanted to have an opinion regarding this issue.

[2019-03-08 18:23] shobhitagarwal1612 commented on #184
Hey @iamvasuh. Thanks for filing an issue and describing it so well.

This clearly looks like a regression due to one of the recent PRs. The buttons should not show up in `Sent` tab at all. Please remove it

[2019-03-08 19:13] iamvasuh commented on #184
thank u @shobhitagarwal1612 for the opinion.
working on it.

[2019-03-08 20:06] rohap97 commented on #177
@shobhitagarwal1612 Ok sir, I will make sure it doesn't happen again.

[2019-03-08 20:40] rohap97 commented on #176
@shobhitagarwal1612 Ok Sir, I will make sure this doesn't happen again.

[2019-03-09 02:52] sushmita0810 commented on #175
@opendatakit-bot claim

[2019-03-09 06:48] sarrocks1 commented on #186
@shobhitagarwal1612  @lakshyagupta21  @Chromicle  So apparently , I had the version of app before pr #165. I installed the latest version and all is working well.

What has been done to ensure that issue has been resolved -
Sent 5 forms from Nokia 7 plus , android v9 to Samsung galaxy J7 , android v7
and vice-versa without any fail.

Looks like the error was resolved in one of the recent pr's.

Th

[2019-03-09 06:48] sarrocks1 commented on #186
@shobhitagarwal1612 @lakshyagupta21 @Chromicle So apparently , I had the version of app before pr #165. I installed the latest version and all is working well.

What has been done to ensure that issue has been resolved -
Sent 5 forms from Nokia 7 plus , android v9 to Samsung galaxy J7 , android v7
and vice-versa without any fail.

Looks like the error was resolved in one of the recent pr's.

Thank

[2019-03-09 17:16] udhay24 opened #189 "Migrating to androidX"
####  Problem description
1.I feel we should add Kotlin support to help new contributors and let developers to take advantage of the language

2. Another idea I would to propose is to migrate from android support library to androidX components

[2019-03-09 17:18] udhay24 commented on #189
@shobhitagarwal1612, @lakshyagupta21 can i work this issue?

[2019-03-09 18:06] shobhitagarwal1612 commented on #189
I agree that coding in Kotlin has its own pros and cons. What made you propose that Kotlin would be an enhancement to the project? Does it provide any specific advantages over the current structure?
Also, what would be the cons of doing so?

[2019-03-09 18:21] #184 closed

[2019-03-09 18:24] shobhitagarwal1612 commented on #179
Proposed solution:
 - Statistics
 - Sent
 - Received

@lakshyagupta21 @iadeelzafar @iamvasuh Thoughts?

[2019-03-09 18:29] shobhitagarwal1612 commented on #178
Also, let's make use of the settings screen instead of a dropdown menu to control the type of chart to build.

To the summary until now:
 - Add a setting to change the type of statistics chart to be displayed
 - Add a chart type to display the count of sent/received/reviewed instances per day

[2019-03-09 18:49] shobhitagarwal1612 opened #191 "Add support to send forms on Android 9"
#### Software and hardware versions
Android 9, Moto G5 Plus

#### Problem description
Unable to send blank/filled forms on Android 9. The screen gets stuck on `Waiting for the hotspot to connect`

#### Steps to reproduce the problem
Just select any blank or filled form and try to send on an android 9 device

#### Expected behavior
It should work as expected

#### Other information
Things you tried

[2019-03-09 18:49] #105 closed

[2019-03-09 18:52] #142 closed

[2019-03-09 18:54] rohap97 commented on #176
@opendatakit-bot claim

[2019-03-09 19:01] shobhitagarwal1612 commented on #138
@moksh-mahajan Thanks for raising an issue but this is not required. We are using `Butterknife` for the same purpose.

Closing this

[2019-03-09 19:01] #138 closed

[2019-03-09 19:05] shobhitagarwal1612 opened #192 "Update checkstyle plugin"
#### Problem description
We haven't upgraded the `checkstyle` plugin for quite some time. Now, we should use the latest version to include all of the new features added recently

#### Steps to reproduce the problem
Not an issue, code maintenance

#### Expected behavior
`quality.gradle` contains the configuration for `checkstyle` plugin, that should be upgraded. All of the introduced modules should

[2019-03-09 19:07] shobhitagarwal1612 opened #193 "Update pmd plugin"
#### Problem description
We haven't upgraded the `pmd` plugin for quite some time. Now, we should use the latest version to include all of the new features added recently

#### Steps to reproduce the problem
Not a bug, code maintenance

#### Expected behavior
`quality.gradle` contains the configuration for `pmd` plugin, that should be upgraded. All of the introduced modules should be excluded by a

[2019-03-09 19:11] shobhitagarwal1612 opened #194 "Introduce WorkManager"
#### Problem description
We use Evernote's android-job library for scheduling the tasks but is deprecated and not supported anymore by the developers of the library. So, we should start moving towards android [WorkManager](https://developer.android.com/topic/libraries/architecture/workmanager).

#### Steps to reproduce the problem
Not an issue, code enhancement

#### Expected behavior
Should not b

[2019-03-09 20:09] rohap97 commented on #194
@shobhitagarwal1612 Sir, I found this link https://articles.caster.io/android/how-to-migrate-from-android-job-to-workmanager/ to be of use. This contains information about WorkManager vs android-job. Hope this helps!

[2019-03-10 04:56] iamvasuh commented on #192
@shobhitagarwal1612 @lakshyagupta21 i would like to work on this.

[2019-03-10 04:56] iamvasuh commented on #192
@opendatakit-bot claim

[2019-03-10 05:22] Chromicle commented on #191
Now only I checked it is not only on android 9 this type of issue is working on android 8.0.0 also

[2019-03-10 05:34] lakshyagupta21 commented on #191
@Chromicle Can you share the logs and device specification that you're working on. Because we have support for Android 8, so it should work on that.

[2019-03-10 05:36] Chromicle commented on #193
that means before there are so many exclude are there that should be removed right when I do that Circle Ci is passed

[2019-03-10 05:47] Chromicle commented on #191
2019-03-10 11:15:50.113 11196-11271/org.odk.share D/OpenGLRenderer: eglCreateWindowSurface = 0xc95e4300
2019-03-10 11:15:50.126 11196-11196/org.odk.share D/ViewRootImpl@8595ded[SendFormsActivity]: MSG_WINDOW_FOCUS_CHANGED 0
2019-03-10 11:15:50.145 11196-11196/org.odk.share W/Activity: AppLock checkAppLockState locked:false verifying:false pkgName = org.odk.share isInMultiWindowMode:false showWhenL

[2019-03-10 05:47] Chromicle commented on #191
I did not even changed one line of code it is familiar with master branch

[2019-03-10 05:56] udhay24 commented on #189
We should be considering migrating to AndroidX as support library will not be receiving anymore updates. as the android documentation says

[2019-03-10 06:09] shobhitagarwal1612 commented on #189
Sounds reasonable. But before moving forward, we need to have a plan. Since this is a live project, any regressions cannot be risked.

1. Identify what's relying on support library
2. What would be the impact on current functionalities or behaviour?
3. Is there a compatibility support issue with the current gradle or targeted SDK version
4. How much effort would be required for this?

I'd recommen

[2019-03-10 06:13] #148 closed

[2019-03-10 06:14] iamvasuh commented on #179
The above-proposed solution looks great and we should make sure that the "Received" tab has all features of the "Reviewed" tab.

[2019-03-10 06:18] shobhitagarwal1612 commented on #191
I do not own an android 8 device, so I am not very sure. I have tested on Android 5, 6, 7 and 9 only. Then open another issue for supporting on Android 8 as well

[2019-03-10 06:23] shobhitagarwal1612 commented on #193
It means that, after upgrading the plugin it is highly likely that the Circle CI build will fail due to the added checks. Since the scope of this issue is just to update the plugin, so the checks which are causing the build to fail must be excluded for now

[2019-03-10 06:27] Chromicle commented on #191
yeah it is working on android 7 and 6 I tested now @shobhitagarwal1612 will I open the new isue

[2019-03-10 07:10] udhay24 commented on #189
@opendatakit-bot -claim

[2019-03-10 07:12] udhay24 commented on #189
@opendatakit-bot claim

[2019-03-10 07:12] udhay24 commented on #189
@opendatakit-bot claim --force

[2019-03-10 07:13] udhay24 commented on #189
@opendatakit-bot claim --force.

[2019-03-10 07:13] udhay24 commented on #189
@opendatakit-bot claim --force

[2019-03-10 07:22] udhay24 commented on #189
###  codes relying on support library:
AppCompatActivity and fragments , CustomViews(Wifi View),RecyclerView
###  compatibility support issue with the current gradle or targeted SDK version
**compiletimeSdk version** needs to be updated to 27 or 28,
**com.android.tools.build:gradle** needs to be updated to latest version,
**Gradle.properties** 2 new flags need to be added
### impact on current fun

[2019-03-10 07:48] Chromicle opened #197 "Unable to send forms on android 8.0.0"
## Software and hardware versions
Android 8, Honor 8x

### Problem description
Unable to send blank/filled forms on Android 8.0.0. The screen gets stuck on Waiting for the hotspot to connect
i.e QR code is not appearing to scan if we want to connect through wifi entering the password it is giving toast that you should scan a QR code to connect this network

### Steps to reproduce the problem
Just

[2019-03-10 10:58] udhay24 opened #199 "Set up top navigation(up button)"
#### Problem description
We can have a top up navigation button so that the navigation will be easier and so that the app follows design guideline
#### Steps to reproduce the problem
A new UI Feature
#### Expected behavior
the newly added up button should help in navigation and building up the activity stack (if the app is opened using a intent)

![image](https://user-images.githubusercontent.com/

[2019-03-10 11:00] lakshyagupta21 commented on #199
Issue is already raised for this enhancement #108, so closing this issue.

[2019-03-10 11:00] #199 closed

[2019-03-10 11:07] udhay24 commented on #194
@shobhitagarwal1612 can I work in this issue?

[2019-03-10 14:46] udhay24 commented on #194
@opendatakit-bot claim

[2019-03-10 15:37] iamvasuh commented on #192
@shobhitagarwal1612 @lakshyagupta21 I have updated the **_checkstyle_** version from **7.6.1** to **8.18** which is the latest one right now.
Apart from that , in the **_checkstyle.xml_** I have added the modules which are used in **_google.xml_** also. I want to ask whether this approach is right or not?

[2019-03-10 18:20] lakshyagupta21 commented on #192
We've to see what all modules we require for this project, I request you to raise a PR then we can discuss on the modules further.

[2019-03-10 18:21] lakshyagupta21 commented on #153
@prajurock Are you still working on this?

[2019-03-10 19:37] iamvasuh commented on #192
ok i will just do it.

[2019-03-11 03:50] prajurock commented on #153
No i am not woking on this.

[2019-03-11 14:42] Chromicle opened #201 "Instead of default value make default value as device name"
#### Software and hardware versions
Android Samsung J8

#### Problem description
Currently, the default value of hotspot SSID is "hotspot" only instead of that make the default value as a device name i.e the device name which app is running
for every device, it is a unique name so using that name instead of the default value it gives the good user experience

#### Steps to reproduce the problem
No

[2019-03-11 14:42] Chromicle commented on #201
@shobhitagarwal1612 can I work on this, Thankyou!

[2019-03-11 16:39] Chromicle opened #202 "No touch feedback for forms"
#### Software and hardware versions
Samsung J8

#### Problem description
Currently, when we click on any forms there is no touch feedback
there should be a touch feedback i.e ripple when we clicked on any form

#### Steps to reproduce the problem
go to any recycler view screen and click on any form observe the behavior

#### Expected behavior
There should be user feedback when we touch on any form

[2019-03-11 16:40] Chromicle commented on #202
@shobhitagarwal1612 @lakshyagupta21 can I work on this, thankyou!

[2019-03-11 17:08] lakshyagupta21 commented on #202
Sure go ahead.

[2019-03-11 17:18] lakshyagupta21 commented on #201
Currently, we don't even use that, the option to modify is there but we haven't added the functionality to use the user-defined hotspot ID, its still in backlog and the issue is already been raised in #153. Maybe after its done we can go ahead with this issue.

[2019-03-11 17:51] sarrocks1 commented on #197
@Chromicle  Can you please give a detailed description . I have successfully run on honor 7x with android v8.0 and I m not facing any errors. Screenshots would help a lot.
Thank You.

[2019-03-11 18:43] sarrocks1 commented on #186
**Problem(updated)** - The above error occurs only when any device is already connected to my mobile hotpot.

**Steps** - I connected my laptop to my mobile hotspot and tried sending the forms , which gave the above bug. I tried by connecting other devices to my hotspot and the bug still persists.
I switched off my hotspot and pressed send , the app worked perfectly fine.

**Solution** - I guess t

[2019-03-11 18:49] shobhitagarwal1612 opened #203 "Display progress dialog when sending/receiving files"
#### Problem description
Currently, we see an indeterminate progress dialog when sending forms or instances. It would be much better if we can display the other details as well like total percentage transferred, no of files being transferred

#### Steps to reproduce the problem
This is an enhancement.
Select multiple forms, send them and then notice the progress dialog

#### Expected behavior
Shou

[2019-03-11 19:08] iadeelzafar commented on #203
@shobhitagarwal1612 This seems to be a good addition.

[2019-03-11 20:10] iamvasuh opened #204 "Statistics fragment does not scroll on rotating the screen"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description

Statistics fragment does not scroll down when the device is in **landscape mode**.
Due to this issue, the whole activity is not visible to the user.

#### Steps to reproduce the problem
![simple1](https://user-images.githubusercontent.com/42612183/54154206-5d59d780-4467-11e9-876b-8c7d08a19c45.gif)

#### E

[2019-03-11 20:11] iamvasuh commented on #204
@shobhitagarwal1612 @lakshyagupta21 can i work on this issue?

[2019-03-12 05:19] rohap97 commented on #194
https://github.com/evernote/android-job/wiki/Migrating-to-WorkManager I found this interesting for this issue.

[2019-03-12 06:33] Chromicle commented on #202
@opendatakit claim

[2019-03-12 12:39] Chromicle commented on #201
ok! after completing that issue I will do this

[2019-03-12 12:52] Chromicle commented on #201
I will claim that issue an I will complete that

[2019-03-12 13:03] Chromicle commented on #153
As @prajurock is not working on this issue I will work on this @lakshyagupta21

[2019-03-12 13:03] Chromicle commented on #153
@opendatakit-bot claim

[2019-03-12 13:34] iamvasuh commented on #146
@moksh-mahajan r u still working on this?
if not, can I claim this issue?

[2019-03-12 13:37] iamvasuh commented on #203
@shobhitagarwal1612 @lakshyagupta21 can i work on this?

[2019-03-12 14:05] rob729 commented on #175
@sushmita0810 are you still working on this issue?

[2019-03-12 14:19] moksh-mahajan commented on #146
@opendatakit-bot unclaim

[2019-03-12 14:21] moksh-mahajan commented on #50
@opendatakit-bot unclaim

[2019-03-12 14:35] lakshyagupta21 commented on #204
@iamvasuh Please claim the issues before start working on the issues. This will avoid multiple people working on same ticket.

[2019-03-12 15:51] iamvasuh commented on #204
@opendatakit-bot claim

[2019-03-12 16:10] iamvasuh commented on #204
this issue can be closed now

[2019-03-12 17:36] naman653 commented on #146
@opendatakit-bot claim

[2019-03-12 17:37] naman653 commented on #146
@opendatakit-bot claim --force

[2019-03-12 18:34] naman653 commented on #177
@opendatakit-bot claim

[2019-03-12 19:38] #176 closed

[2019-03-12 19:44] #202 closed

[2019-03-12 20:09] naman653 commented on #50
@lakshyagupta21 @shobhitagarwal1612 I want to work on this issue. But I can't understand it quite much.

[2019-03-13 03:57] lakshyagupta21 commented on #204
It will be closed automatically once PR is merged.

[2019-03-13 06:00] iamvasuh commented on #204
ok

[2019-03-13 09:15] huangyz0918 opened #210 "Simplify The Gradle Command Like Collect."
#### Problem description
I can see this is also an android project, using static checks to improve the code quality. The command `./gradlew pmd checkstyle lintDebug` is too long, maybe we should simplify it with something like collect.
#### Expected behavior

See issue and PR [here](https://github.com/opendatakit/collect/issues/2529) and [here](https://github.com/opendatakit/collect/pull/2530).

#

[2019-03-13 09:16] huangyz0918 commented on #210
@opendatakit-bot claim --force

[2019-03-13 10:55] #210 closed

[2019-03-13 15:14] syedabbashussainnaqvi commented on #174
@shobhitagarwal1612  I would like to do work on it.

[2019-03-13 15:28] syedabbashussainnaqvi commented on #177
@shobhitagarwal1612 I will like to do work on this issue.

[2019-03-13 15:51] Chromicle commented on #174
I already made a PR on this you can find any other new issues

https://github.com/opendatakit/skunkworks-crow/pull/183

[2019-03-13 15:54] syedabbashussainnaqvi commented on #157
@opendatakit-bot claim

[2019-03-14 16:52] Chromicle opened #212 "Add Icons to forms and settings"
#### Feature description
Currently, there are no icons to forms and settings so by adding the icons ideally also communicate the core essence of the feature

#### Steps to reproduce the problem
Not a problem new feature

#### Expected behavior
Good icons with vectors drawable resource files, the icon should match with feature and icon

#### Other things
while making the icons make the "Storage Loc

[2019-03-14 16:53] Chromicle commented on #212
@shobhitagarwal1612 @lakshyagupta21 can I work on this, thank you!

[2019-03-14 20:51] AbhiSharma1999 opened #213 "Back stack of Activities not handled and Multiple clicks on Views"
#### Software and hardware versions
Android v8.1.0 , Redmi Note 5 pro(Running on MIUI global 10.2.1.0).

#### Problem
Multiple button clicks occur . Also the back stack of activities is not handled.

#### Steps to reproduce the problem
It is noticed that while clicking on the form tile , often multiple clicks are registered . Due to this copies on the following activities is formed and on pressing

[2019-03-14 20:53] AbhiSharma1999 commented on #213
@shobhitagarwal1612 I have created an issue for the problem we discussed earlier, please have a look. Also, can I start working on this? Thanks!

[2019-03-14 21:02] shobhitagarwal1612 commented on #213
Please claim the issue and then you can work on it

[2019-03-14 21:12] AbhiSharma1999 commented on #213
@opendatakit-bot claim

[2019-03-14 21:14] AbhiSharma1999 commented on #213
@opendatakit-bot claim --force

[2019-03-15 05:52] udhay24 commented on #119
@opendatakit-bot claim

[2019-03-15 06:44] Chromicle commented on #213
@AbhiSharma1999 I can not reproduce this issue I think this may be a problem on your device in my device it is working as expected

[2019-03-15 06:47] Chromicle commented on #213
Are you able to send the forms from one device to another

[2019-03-15 08:53] udhay24 commented on #119
@shobhitagarwal1612 @lakshyagupta21 what should be expected behaviour when the user denies storage permission?

[2019-03-15 13:06] rob729 commented on #175
@shobhitagarwal1612 Can I work on this issue as there is no response from @sushmita0810?

[2019-03-15 13:38] jddeep commented on #119
@shobhitagarwal1612 I am extremely sorry for the delay. Actually, I am stuck in some other problems right now and am not able to give enough time to my OS contributions. Hope you don't mind. I will surely get back to the org's projects as soon as I get out of this. Thanks.

[2019-03-15 14:32] udhay24 commented on #119
![mobizen_20190315_194626_1](https://user-images.githubusercontent.com/29946262/54438618-0270fa80-475d-11e9-9bc3-26a526d64a84.gif)

asking runtime storage permission in Oreo 8.1

[2019-03-16 13:36] rob729 commented on #175
@lakshyagupta21

[2019-03-16 20:43] lakshyagupta21 commented on #175
@sushmita0810 You still working on this ticket, if not please unclaim so that  others can take this up.
@rob729 Meanwhile can you take a look at  Issue #193, and if no one has raised a PR for it you can go ahead and claim the issue.

[2019-03-17 00:00] AbhiSharma1999 commented on #213
@Chromicle I have tested this on multiple devices (namely Galaxy S8, Galaxy J7, Honor Lite) and the problem persists. It is expected as there is no check on multiple clicks in the code. If you want to reproduce the problem just tap the tile multiple times. You will likely get the same problem.
As far as transferring forms are considered, I am having trouble since my device is over Android v8.0.

[2019-03-18 18:33] #153 closed

[2019-03-18 18:37] #204 closed

[2019-03-18 18:42] #108 closed

[2019-03-18 18:47] shobhitagarwal1612 commented on #50
The UX is not very intuitive right now. So what @lognaturel means is that the title of the opened activity should be improved in order to give clear intention of the opened activity

[2019-03-19 02:57] shobhitagarwal1612 commented on #203
Please complete the claimed issues before taking on new ones.

[2019-03-19 15:43] Chromicle opened #216 "Password is not hiding while entering the password"
#### Software and hardware versions
Android Samsung j8

#### Problem description
While we entering the password the text should i.e it will show dots after entering each character

#### Steps to reproduce the problem
go to settings and enable set password and tap on set hotspot password and enter anything observe the behavior

#### Expected behavior
while entering the password it should hide after

[2019-03-19 17:52] Chromicle commented on #216
Can I work on this

[2019-03-20 08:37] udhay24 commented on #186
I guess the problem is with location. if the location is disabled in our phone the app crashes while sending and it happens in all the version of android

[2019-03-20 08:42] udhay24 opened #219 "app crashes on clicking send if location is disabled"
#### Software and hardware versions
Reproduced the bug in android-8.1  (Samsung j7 2016)
#### Problem description
 trying to send the form when the location is disabled crashes the app.
#### Steps to reproduce the problem
disable the location
try to send any form
#### Expected behaviour
should ask the user to enable location

#### Error Log when the app crashes:
[code]

![videotogif_2019 03 20_19

[2019-03-20 09:01] udhay24 commented on #219
@shobhitagarwal1612 @lakshyagupta21  can I work on this issue

[2019-03-20 09:38] iamvasuh commented on #192
@opendatakit-bot unclaim

[2019-03-20 11:53] Chromicle commented on #186
yeah @udhay24 I tried now it is working fine expect showing QR code. is it a problem is it particular that we should on the location to send forms I tested on other apps it is working without location turned on

[2019-03-20 13:49] udhay24 commented on #186
@Chromicle but I am facing some problem with it. I have opened a new issue #219 for it. can you take a look at that issue.

[2019-03-20 14:20] udhay24 commented on #219
@Chromicle do you have any guess why this happens?

[2019-03-20 14:30] lakshyagupta21 commented on #219
Sure @udhay24 go ahead.

[2019-03-20 14:46] lakshyagupta21 commented on #216
Sure go ahead.

[2019-03-20 14:58] udhay24 commented on #219
@lakshyagupta21 can you assign this to me since i already 3 PR waiting for review

[2019-03-20 15:02] #111 closed

[2019-03-20 16:02] udhay24 commented on #219
but this flag will throw security exception above kitkat right?

[2019-03-20 17:33] Chromicle commented on #219
Yeah as secure_connections is depend upon root things it will throw exceptions I tried to minimised it that but it is not done

[2019-03-20 19:15] #177 closed

[2019-03-20 19:24] shobhitagarwal1612 commented on #219
@udhay24 Thank you for reporting the issue and suggesting a solution for the same. You are already working on a number of issues. Please let someone else take this one on.

[2019-03-20 19:26] shobhitagarwal1612 commented on #216
@Chromicle Please finish the currently claimed issues before taking on this one. I hope you do understand the intention behind it.

[2019-03-20 19:28] sarrocks1 commented on #186
@udhay24  I am not facing #219. But still the app crashes if hotspot is already connected with different device.

[2019-03-20 19:36] shobhitagarwal1612 commented on #201
I think a good way to differentiate multiple devices' hotspot running this app would be to something like `crow-<device_name>` eg, `crow-xiaomi`

[2019-03-20 19:44] shobhitagarwal1612 commented on #174
@Chromicle I understand that you raised the issue and wanted to work on it. But until you claimed the issue, how will others know that it is not picked by someone. Please take care of this for future references

[2019-03-20 19:51] shobhitagarwal1612 commented on #118
@tavishjain Thank you for starting this conversation. But I also don't feel the need for this right now. If you are looking for something to work on, maybe this issue will look exciting to you https://github.com/opendatakit/skunkworks-crow/issues/203

[2019-03-20 19:51] #118 closed

[2019-03-20 19:51] shobhitagarwal1612 commented on #86
Unable to reproduce

[2019-03-20 19:51] #86 closed

[2019-03-21 04:22] nishontan commented on #219
@opendatakit-bot  claim

[2019-03-21 05:58] Chromicle commented on #212
@opendatakit-bot claim

[2019-03-21 05:59] Chromicle commented on #174
@opendatakit-bot claim

[2019-03-21 14:03] udhay24 commented on #219
@nishontan are you similar problem? if yes can you share me your phone specifications.

[2019-03-21 14:20] rob729 commented on #216
@lakshyagupta21 @shobhitagarwal1612 Can I work on this issue?

[2019-03-21 14:36] iadeelzafar commented on #216
Yes. You can claim this using the bot.

[2019-03-21 14:37] rob729 commented on #216
Thanks @iadeelzafar

[2019-03-21 14:38] rob729 commented on #216
@opendatakit-bot claim

[2019-03-21 14:52] Chromicle commented on #216
I already asked to work on this all I already send PRs for which I am working on

[2019-03-21 16:47] nishontan commented on #203
@opendatakit-bot claim

[2019-03-21 18:05] shobhitagarwal1612 commented on #216
@Chromicle The issue was unclaimed and was available for anyone to take. It is encouraged to start working on an issue only if you are assigned to it otherwise this happens.

[2019-03-21 18:08] lakshyagupta21 commented on #216
@Chromicle, Sorry I know that you raised this issue and you had shown interest in working on this but our intention is always to help new contributors to make their first contribution so that they can feel comfortable with the project. And as you can see that this issue is labeled as `good first issue` and so I think it would be good if someone new can pick this up. Hope you understand our intenti

[2019-03-22 02:48] udhay24 commented on #189
yeah i am still working on the issue

[2019-03-22 15:54] iamvasuh commented on #197
@Chromicle is this issue still coming on your device?

[2019-03-22 17:04] Chromicle commented on #197
Yeah Iam facing that but not my device(friend) and I checked on realme 2 also it is still coming

[2019-03-23 11:16] rohap97 commented on #179
Is anyone working on this?

[2019-03-23 11:18] rohap97 commented on #157
@shobhitagarwal1612 Please review this.

[2019-03-23 17:16] #212 closed

[2019-03-24 05:14] shobhitagarwal1612 commented on #179
No, it is still unclaimed

[2019-03-24 05:15] shobhitagarwal1612 commented on #186
Closing as this would be resolved along with issue https://github.com/opendatakit/skunkworks-crow/issues/191

[2019-03-24 05:15] #186 closed

[2019-03-24 08:03] #154 closed

[2019-03-24 08:31] udhay24 commented on #194
waiting for #189 to be merged before this can be merged

[2019-03-24 08:58] lakshyagupta21 opened #223 "Stop dialog is still shown if hotspot is not enabled."
#### Software and hardware versions
Android v7.1

#### Problem description
If user doesn't trigger hotspot from the settings screen, then it still asks  `stop sending` when the user taps back button.

#### Steps to reproduce the problem
1. Tap on 'Send' button.
2. Select forms to send.
3. Tap on 'Send'
4. Tap on 'Settings'
5. Don't enable from the settings screen opened (press back button)
5. A sc

[2019-03-24 10:31] shobhitagarwal1612 commented on #191
@opendatakit-bot claim

[2019-03-24 10:40] #219 closed

[2019-03-24 14:53] iadeelzafar opened #224 "App Crashes On Searching In Sent/Reviewed Fragments"
#### Software and hardware versions
Android API 24
Galaxy Nexus

#### Problem description
App Crashes On Searching In Sent/Reviewed Fragments when there are no results in these fragments.

#### Steps to reproduce the problem
1. Click on a form
2. Go to sent/reviewed tab.
3. If you've no sent/reviewed forms, search something.
4. App will crash.

#### Expected behavior
Should not crash
#### GIF
<img

[2019-03-24 14:53] iadeelzafar commented on #224
@opendatakit-bot claim

[2019-03-24 15:52] udhay24 opened #225 "Need for a proper architecture."
#### Software and hardware versions
general issue regarding the codebase architecture.
#### Problem description
In skunkworks-crow we aren't using any specific architecture. but for the app to become production ready we need to have unit test codes which can be written only if we follow a proper architecture. i would like to propose a MVVM architecture since

1. The ViewModel component is provided

[2019-03-25 01:33] nishontan commented on #203
@opendatakit-bot unclaim

[2019-03-25 02:16] nishontan commented on #223
@opendatakit-bot claim

[2019-03-26 09:36] AbhiSharma1999 commented on #213
I am sorry I was busy with the University Examination for the past couple of days and hence I was not able to work on this issue . I will be submit a PR for this in a day or two.

[2019-03-26 23:56] Chromicle commented on #223
If I already enabled the location still the confirmation dialoge is coming to me

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48018942/55040978-e7ea2b80-5050-11e9-9cb8-0be400998108.gif)

[2019-03-27 07:22] udhay24 commented on #189
@opendatakit-bot claim

[2019-03-28 07:56] huangyz0918 opened #228 "Permission check lost when creating folders"
#### Software and hardware versions
Pixel XL API 28 (Andrloid 9.0)
Nexus 6P API 23 (Android 6.0)

master branch
#### Problem description
App crashed when we didn't give it the permission to write the storage, see `createODKDirs()`. and we do not have ODK Collect before.

#### Steps to reproduce the problem
- install this app in your device first (without ODK Collect)
- make sure it has no permissi

[2019-03-28 10:30] #146 closed

[2019-03-28 18:55] rohap97 commented on #175
@shobhitagarwal1612 Sir, What should be the information that should be added?

[2019-03-29 06:36] shobhitagarwal1612 commented on #175
I think displaying app version is must. If you can think of anything else then you can add them as well

[2019-03-29 17:02] nishontan commented on #216
@opendatakit-bot claim

[2019-03-29 17:43] #223 closed

[2019-03-29 17:46] #228 closed

[2019-03-30 15:24] lakshyagupta21 opened #231 "Hotspot is still enabled after form transfer"
#### Software and hardware versions
Android v7.1

#### Problem description
Hotspot is still on even after form transfer is successful.
#### Steps to reproduce the problem
1. Try sending form
2. After successful form transfer tap on ok to close the dialog.
3. Open the notification bar and see that hotspot is still enabled.
#### Expected behavior
Hotspot should be disabled after successful form tran

[2019-03-30 15:26] lakshyagupta21 commented on #231
It was raised(#91) before as well but the fix was also merged.

[2019-03-31 06:21] shobhitagarwal1612 commented on #225
Since we already have rxJava added to the project, it'd be nice to use that with MVVM instead of going forward with data-binding

[2019-03-31 13:43] huangyz0918 commented on #225
Refactoring always has a high cost, both in work and testing. This project doesn't have many network related stuff, and the business logic is also relatively less complex. I mean, refactor cannot bring much benefit, If you really want to do this job @udhay24 , I suggest starting it from some simple features, and merging after careful testing.

[2019-03-31 17:59] udhay24 commented on #225
yeah even i was thinking the same and also it is difficult or sometimes not possible to write unit test cases for certain cases(for eg: in file transfer). but if we are only considering modularising the code by moving the logic to a viewmodel(for example)  the process can be easily achieved without much work and also will help in maintaining the code base.

[2019-03-31 18:14] shobhitagarwal1612 commented on #225
I agree with @huangyz0918. So the safest way to approach it would be do it many small portions rather than doing the entire refactor at once

[2019-04-01 11:59] Chromicle opened #232 "when tab is re selected so recycle view scroll to top"
#### Software and hardware versions
Android 8.0.0, Samsung J8

#### Problem description
If the user has a large number o Filled/Blank forms if he wants to go to the top he has to scroll the entire recycle view instead of that using this feature user can scroll to top easily

We have the ideas of adding a FAB, by adding the FAB it does not give a good user experience and the UI also doesn't look go

[2019-04-01 12:00] Chromicle commented on #232
@shobhitagarwal1612 @lakshyagupta21 Can I work on this, ThankYou!

[2019-04-01 12:00] Chromicle commented on #232
@opendatakit-bot claim

[2019-04-01 18:30] iadeelzafar opened #233 "When Writing Hotspot Password, OK Button Should Be Disabled Until 8 Chars"
#### Software and hardware versions
Galaxy Nexu API 24

#### Problem description
When Writing Hotspot Password, OK Button Should Be Disabled Until 8 input chars by the user.
Currently, the user is allowed to click the "OK" button even when chars<8 and a toast message appears afterwards showing the error. This toast message can also be removed with these changes.
#### Steps to reproduce the problem

[2019-04-01 18:31] iadeelzafar commented on #233
This is a good issue for new contributors to start getting familiar with the codebase. This is up for grabs.

[2019-04-01 19:24] #189 closed

[2019-04-02 11:59] Chromicle commented on #174
@opendatakit-bot Yeah I am still working on it

[2019-04-02 12:00] lakshyagupta21 commented on #174
@Chromicle it looks like you've closed a already PR for this.

[2019-04-03 10:31] Chromicle commented on #174
@lakshyagupta21 due to merge conflicts are there I pushed before all commits so  I closed that

[2019-04-03 10:34] lakshyagupta21 commented on #174
I know sometimes merge conflicts are difficult to resolve but you shouldn't do this kind of practice if you face any such issues. And if you face any difficulties with Git let us know we'll help you out.

[2019-04-03 10:37] Chromicle commented on #174
Apologizes for that, from next time onwards I will make sure that it does not happen

[2019-04-03 12:05] Chromicle opened #236 "App crashes on clicking any forms in Received fragment"
#### Software and hardware versions
Android Samsung J8.

#### Problem description
The app crashes when we are clicking any form in the received fragment

#### Steps to reproduce the problem
1.click on any form
2.go to received fragment
3.click on any form (if forms are not there receive any form)
4. observe the behavior

#### Expected behavior
The app does have to crash when clicking on any receiv

[2019-04-03 12:06] Chromicle commented on #236
@shobhitagarwal1612 @lakshyagupta21 can I work on this, thank you!

[2019-04-03 12:06] Chromicle commented on #236
@opendatakit-bot claim

[2019-04-03 17:59] iadeelzafar commented on #224
I've made the solution pseudocode. Will make the PR as soon as I get free.

[2019-04-04 16:36] shobhitagarwal1612 opened #238 "Add runtime permission to allow write_settings permission"
#### Software and hardware versions
Android 6.0.1

#### Problem description
My guess is that this is a regression caused while adding runtime permissions.

#### Steps to reproduce the problem
Attempt to send a form in Android 6.0

#### Expected behavior
A prompt should appear to allow the write settings permissions when the below method is attempted to call

#### Other information
[code]

[2019-04-04 17:06] #236 closed

[2019-04-04 18:09] #216 closed

[2019-04-05 05:18] Chromicle opened #239 "Feat : Implement the flashlight when scanning QR code"
#### Software and hardware versions
Android Samsung J8, 8.0.0

#### Problem description
Currently, when we are scanning QRcode there is no flashlight
so add the feature of a flashlight so the if the user wants the flash he/she will turn on or turn off

I proposing this feature because I saw some of the apps which used to share and some other QRcode scanning apps

#### Steps to reproduce the proble

[2019-04-05 05:18] Chromicle commented on #239
@shobhitagarwal1612 @lakshyagupta21 can I work on this, Thankyou!

[2019-04-05 05:19] Chromicle commented on #239
@opendatakit-bot claim

[2019-04-05 05:20] lakshyagupta21 commented on #239
@Chromicle No need of asking on every issue,  if the issue is not assigned to anyone then you can claim it.

[2019-04-06 19:14] rohitnitk commented on #191
The same issue i found on orio 8.1 on xiaomi redmi note 5

[2019-04-06 19:45] rohitnitk commented on #191
Same  issue i Found on android 8.1
[jhgj.pdf](https://github.com/opendatakit/skunkworks-crow/files/3050874/jhgj.pdf)

[2019-04-06 19:46] rohitnitk commented on #191
04/07 01:12:40: Launching skunkworks_crow
$ adb push D:\Users\rohit\GSOC-ODK\skunkworks-crow\skunkworks_crow\build\outputs\apk\debug\skunkworks_crow-debug.apk /data/local/tmp/org.odk.share
$ adb shell pm install -t -r "/data/local/tmp/org.odk.share"
Success
APK installed in 7 s 361 ms
$ adb shell am start -n "org.odk.share/org.odk.share.activities.MainActivity" -a android.intent.action.MAIN -c and

[2019-04-06 19:49] rohitnitk commented on #191
Same Issue I found on Orio 8.1 redmi note 5:

04/07 01:12:40: Launching skunkworks_crow
$ adb push D:\Users\ODK\skunkworks-crow\skunkworks_crow\build\outputs\apk\debug\skunkworks_crow-debug.apk /data/local/tmp/org.odk.share
$ adb shell pm install -t -r "/data/local/tmp/org.odk.share"
Success
APK installed in 7 s 361 ms
$ adb shell am start -n "org.odk.share/org.odk.share.activities.MainActivity" -

[2019-04-06 20:02] rohitnitk commented on #175
There is still no data in about option except that related to Licence , and on clicking it, the activity bounce back to previous one.
There are certain observation:
I have run the latest code on android 8.1, and app gets stuck on screen "Waiting for hotspot to connect", something similar to the issue on pie 9.0. In 8.1, in the logcat, it ran into infinite loop.

[2019-04-06 20:48] Chromicle commented on #175
Yeah it would be resolved if #227 is merged

[2019-04-07 05:27] rohitnitk commented on #233
Which one is the java class to handle password related stuff?

[2019-04-07 18:56] iadeelzafar commented on #120
Working.

[2019-04-08 10:12] Chromicle commented on #201
Yeah, it is better to be like  `crow-<device_name>` in case my phone what would be better of these names  `crow-SM-J810G` or `crow-Samsung SM-J810G` or `crow-Samsung`
SM-J810G is my phone model name

[2019-04-08 12:44] rohitnitk commented on #233
it seems that a common interface of dialog is used for all the four options in Setting, so changing the dialog for Password will affect that for other three (edited) , I'm working upon it

[2019-04-08 12:48] rohitnitk commented on #175
I have added the App info to above, here  are screen shots:)

![Screenshot_2019-04-08-17-58-57-416_org odk share 1](https://user-images.githubusercontent.com/46598745/55725112-949db300-5a2a-11e9-98b8-f9b5adac0ed7.png)
![Screenshot_2019-04-08-17-59-08-617_org odk share 1](https://user-images.githubusercontent.com/46598745/55725130-a0897500-5a2a-11e9-9101-6b5441d45653.png)

![Screenshot_2019-04-08-1

[2019-04-08 12:48] Chromicle opened #241 "When back pressed on set hotspot password it is not going to back and does not open soft keyboard automatically"
#### Software and hardware versions
Android Samsung j8

#### Problem description
when we pressed back button instead of cancel button the alert dialog should be canceled but it is not coming back
when the alert dialogue is opened the soft keyboard should open automatically but it does not happen

#### Steps to reproduce the problem
Go to the settings screen
press the Set Hotspot password
instead o

[2019-04-08 12:48] Chromicle commented on #241
@opendatakit-bot claim

[2019-04-08 12:58] Chromicle commented on #233
@rohitnitk No, every one has separate functionality have a look on the method  `showPasswordDialog` in `SettingsPreferance.java` you can see the alert dialogue you can change it there

[2019-04-08 13:00] rohitnitk opened #242 "The RecyclerView content expand their height after each search query"
#### Software and hardware versions
Android 8.1, device used Redmi note 5

#### Problem description
The height of each item in Recycler View under the 'Filled form' and 'Blank forms' increases down each time  a query is entered in search bar
#### Steps to reproduce the problem
Press SEND button at home screen,
Start typing in search bar, hit enter. Do this again and again, you will see the size of

[2019-04-08 14:40] iadeelzafar commented on #233
@rohitnitk claim this issue, if you're working on. So that no one else gets confused.

[2019-04-09 07:03] rohitnitk opened #244 "Hotspot Password dialog is accepting empty field"
#### Software and hardware versions
Android v8.1, device used Redmi Note 5

#### Problem description
 dialog box for hotspot password is accepting empty input field, thus saving password as empty string
#### Steps to reproduce the problem
1.Setting ->Enable checkbox for 'Set Password'
2. Go to 'Set Hotspot Password'
3. Clear input and press 'OK' button
#### Expected behavior
It should not accept t

[2019-04-09 10:29] iadeelzafar commented on #244
Duplicate of #233

[2019-04-09 11:38] Chromicle commented on #244
Close this issue @rohitnitk if #233 is merged then this issue will be solved

[2019-04-09 11:44] Chromicle opened #245 "App crashes on clicking Open source licenses"
#### Software and hardware versions
Android Samsung J8

#### Problem description
App crashes on clicking open source licenses
App should not be crash  as app crash is not at all good behavior to any user

#### Steps to reproduce the problem
Click on about
And click on Open source licenses
observe the behavior

#### Expected behavior
App should not be crash and should open web view of open source l

[2019-04-09 11:45] Chromicle commented on #245
@opendatakit-bot claim

[2019-04-16 17:16] #245 closed

[2019-04-17 16:24] Chromicle opened #247 "On rotating screen in sendingForms activity search bar is getting disappear"
#### Software and hardware versions
Android Samsung j8

#### Problem description
when we rorting the screen of device in the send forms activity while in searching through search bar then the search bar is getting disappearing

this is same problem as #120

#### Steps to reproduce the problem
Go the sendForms activity
Click on search icon
Rotate the device
Observe the behavior(I.e search bar is ge

[2019-04-17 16:24] Chromicle commented on #247
@opendatakit-bot claim

[2019-04-21 21:20] iadeelzafar commented on #224
Whoever wants to work on this, can claim.

[2019-04-26 11:31] Chromicle opened #249 "When there is empty list hide search and sort icons"
#### Software and hardware versions
Android samsung J8

#### Problem description
When there is an empty list(I.e empty recycle view) now currently the search and sort icons are there
There is no need those icons when empty list

#### Steps to reproduce the problem
Make recycle view to empty (i.e delete all forms)
see the behaviour

#### Expected behavior
When there is a empty recycle view icons sh

[2019-04-26 11:36] lakshyagupta21 commented on #249
I don't think that icons should be set hidden when the list is empty.

[2019-04-26 11:37] lakshyagupta21 commented on #249
If its a icon we don't do anything and if its a button then we disable them.

[2019-04-26 11:43] Chromicle commented on #249
user may confuse that what is the need of the icons if there is a empty list

[2019-04-26 11:47] lakshyagupta21 commented on #249
No, I don't think from those icons users will be confused if list is empty then user is expected to know that there is nothing you can search or sort from list.

I didn't see any app where such confusion happened to me. If any user reports this then we will look into it later but for now I think we can close this.

[2019-04-26 11:56] Chromicle commented on #249
Ok then! I am closing this, the reason I added this issue was when I show this app to one of my friends he said that what is need of icons if there a empty list

[2019-04-26 11:56] #249 closed

[2019-04-26 16:20] Chromicle commented on #233
@rohitnitk are you still working on this if yes please claim this issue using `@opendatakitbot claim` or else I will claim it

[2019-04-27 11:41] Chromicle commented on #241
@opendatakit-bot I already made a pull request on it #243 it has to be review

[2019-04-27 13:21] Chromicle opened #250 "Instead of editText for Destination Directory make directory picker from storage"
#### Software and hardware versions
Android  Samsung J8

#### Problem description
Currently for `ODK Destination Directory` there is an edit text for file path by that user may type wrong spelling then the File path does not exist
Instead of that making directory picker so user can directly select the directory from his storage

#### Steps to reproduce Behaviour
Go to the settings
Click on `ODK De

[2019-04-27 13:21] Chromicle commented on #250
@opendatakit-bot claim

[2019-04-27 13:22] Chromicle commented on #250
@lakshyagupta21 what about this I think this will be helpful

[2019-04-28 12:06] lakshyagupta21 commented on #241
@Chromicle Thanks for raising the PRs, I will go through the PR once more and do the testing so that it doesn't break anything else.

[2019-04-28 12:08] lakshyagupta21 commented on #250
Thanks @Chromicle for raising this issue, I think it would be good to have this feature.

[2019-04-28 12:13] rohitnitk commented on #233
@opendatakit-bot  I'm working on this issue

[2019-04-28 12:20] Chromicle commented on #233
as I commented above, just type this line `@opendatakitbot claim` to claim in comment section

[2019-04-28 12:37] rohitnitk commented on #233
@opendatakit-bot claim

[2019-04-28 14:53] rohitnitk commented on #233
@opendatakit-bot claim --force

[2019-04-29 11:47] Chromicle commented on #250
Can I change Checkbox to `switchPreference` instead of `checkboxPreference` so it looks like ON/OFF button to set hotspot password

[2019-05-01 19:59] rohitnitk commented on #242
Update: The size increases only when the entered character is matched to any of the item name's chars

[2019-05-02 00:52] Chromicle commented on #242
@rohitnitk that is occurring due to when the character entered does not match to one of the forms then recycler view became empty so the space is not appearing
It's not a main thing to resolve.

[2019-05-02 15:52] iadeelzafar commented on #242
@rohitnitk I think you should work with a empty view. That'd resolve this issue.

[2019-05-04 16:31] rohitnitk commented on #242
BTW why it need to expand at all?

[2019-05-04 17:18] Chromicle commented on #242
As we are using same layout for all filled and blank forms
We are updating according to that are we are hiding some of the text views the space is allocated is remains same in recycle view
I am facing the issue but I am not experiencing so much gap as much as shown in pr templete

[2019-05-05 10:07] rohitnitk commented on #242
![Screenrecorder201905051524](https://user-images.githubusercontent.com/46598745/57192220-b025ac00-6f4b-11e9-8cfe-2cc5b1c1da05.gif)

[2019-05-09 22:41] Chromicle commented on #250
@opendatakit-bot I already made a PR it is yet to be reviewed

[2019-05-26 11:15] huangyz0918 opened #252 "[Refactor] Refactor the UI packages according to their function"
#### Problem description
This is a refactor work related to the views.

#### Why we need this refactor
- Since we will add the bluetooth as the secondary method next step, we need to build more lists, building more similar adapters is not a good idea.
- Our application has many similar  list/recycler views, we don't need so many adapters actually, we can build our own view types or using some open

[2019-05-26 11:21] huangyz0918 opened #253 "[Feature] Add the bluetooth development framework"
#### Problem description
We are going to build bluetooth methods. Should we using the native bluetooth server/client in Android SDK or using other open source wrapped bluetooth lib?

A suggestion is [FastBle](https://github.com/Jasonchenlijian/FastBle), which uses simple ways to filter, scan, connect, read ,write, notify, readRssi, setMTU, and multiConnection using bluetooth. I was a user of this

[2019-05-28 03:36] huangyz0918 opened #254 "[Refactor] Replace the layout default height and weight using style.xml"
#### Problem description
We have many layout elements like:

[code]
We can use some common attrs in `style.xml` to replace them like:

[code]

Other common width and height attributes are the same.
We have two advantages related to this refactor:

- Make the code easier to read.
- Make the code easier to maintain, we only need to modify the `style.xml` if we want to change something.

#### Other i

[2019-05-28 03:49] Chromicle commented on #254
Yeah, it's a great issue but we are using almost same padding and margin if we define for that also means it will be great

[2019-05-29 12:28] huangyz0918 opened #255 "IllegalStateException: Caller already has an active LocalOnlyHotspot request"
#### Software and hardware versions
Android 8.0 Nexus 6P

#### Problem description
App crashes with log:
[code]

#### Steps to reproduce the problem

1. click the `send` button in main page.
2. select a blank form to sent, hotspot will be enabled automatically.
3. press back button and repeat send operation again with hotspot enabled.
4. click `send` again.
5. app crash.

#### Expected behavior
Ap

[2019-05-29 12:40] Chromicle commented on #255
Yeah, I observed this behaviour if #227 this will be solved when I checked with that PR

[2019-05-29 12:42] huangyz0918 commented on #255
@Chromicle Cool, then we can closed this after that.

[2019-06-03 18:33] jhbiggs commented on #233
@opendatakit-bot claim

[2019-06-03 18:33] jhbiggs commented on #233
@opendatakit-bot claim --force

[2019-06-04 17:21] #252 closed

[2019-06-04 18:26] lakshyagupta21 opened #259 "Issue connecting Wifi Hotspot"
#### Software and hardware versions
Android v7.1, device used... Xiomi Redmi 4

#### Problem description
Something got changed in recent PRs due to which in Android 7.1 its not able to connect to wifi hotspot. It shows message 'Connecting to wifi'.

#### Steps to reproduce the problem
1. Send forms.
2. Try connecting to ODK-SKUNKWORKS wifi network
3. Sometimes it gets stuck on the same dialog show

[2019-06-06 19:01] #254 closed

[2019-06-06 19:08] #241 closed

[2019-06-08 16:27] jhbiggs commented on #244
Just made a pull request with a solution for this issue.

[2019-06-11 08:34] huangyz0918 opened #263 "[Feature] Build a website to show documents and tested devices results."
#### Problem description
We are going to build a document to show,

- The documents for our project
- The tested results for different devices.
- Blog for the GSoC projects.

#### Other information
@opendatakit-bot claim

[2019-06-17 03:23] jhbiggs commented on #193
Hi, I'd like to work on this issue.  I believe I've updated PMD and have looked at the rule exclusions.  I have some questions about them, though.  Is there someone there who could answer them?

[2019-06-25 17:09] jhbiggs commented on #192
Is this issue still open?  It looks like the plugin was updated above.

[2019-06-26 16:45] lakshyagupta21 commented on #192
Hi @jhbiggs , you can claim this issue by typing `@opendatakit-bot claim`

[2019-07-10 12:44] huangyz0918 opened #264 "Add Firebase Crashlytics to Project"
### Problem description
According to our GSoC 2019 plan, we should add Firebase Crashlytics SDK to get comprehensive crash reports in the Firebase console, that would be very helpful for our debug and issue fixing.

#### Expected behavior

Add the Firebase Crashlytics Android SDK in this project.

#### Other information
@opendatakit-bot claim

[2019-07-10 12:47] huangyz0918 opened #265 "Write the unit tests for the bluetooth feature."
### Problem description
For bluetooth feature added in #260 , we need to write the unit tests about the bluetooth devices pairing and connecting, even some future UI works.

#### Expected behavior
Build the unit tests and add them into the Gradle tasks for automatic building and CI testing.

#### Other information
@opendatakit-bot claim

[2019-07-10 12:56] huangyz0918 opened #266 "[Feature] Build the default transferring mechanism"
#### Problem description
In #260 , we added a new approach using bluetooth.
Currently, we will ask users to choose a transfer method every time when they are trying to sen/receive forms. Should we ask them every time? Can we set a default method and auto switch to another method if the default failed?

According to my proposal, we can set the default method in our system settings, so we need to re

[2019-07-10 12:57] huangyz0918 commented on #266
@opendatakit-bot label "needs discussion"

[2019-07-10 13:06] huangyz0918 commented on #266
Another task is to improve the UI in the bluetooth sender/receiver pages.
|||
|:--:|:--:|
|![Screenshot_19700107-002737](https://user-images.githubusercontent.com/15646062/60971226-40baa700-a356-11e9-8e58-7fc1b30e91e5.png)|![Screenshot_19700107-002716](https://user-images.githubusercontent.com/15646062/60971229-42846a80-a356-11e9-862f-8f75a70bb5d0.png)|

I don't like the UI, they are too simple, a

[2019-07-10 13:33] huangyz0918 opened #267 "Java.io.IOException: Socket Closed"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
When I'm trying to sending multiple form instances, I have an issue `java.io.IOException: socket closed`, I guess that when I finished the first form transmission, the `UploadJob.java` will close the bluetooth socket so the next form transfer task will have the `socket closed` issue. I don't know whether t

[2019-07-10 14:10] huangyz0918 commented on #259
@lakshyagupta21 I also noticed this issue, but if I wait longer, the form can still be delivered sometimes. Sometimes I just got an error with timeout, I think whether success or not depends on the network environment, it's not a bug.
[code]

[2019-07-13 03:43] huangyz0918 commented on #264
@lakshyagupta21 @shobhitagarwal1612 Whose account should we use?

[2019-07-14 16:45] lakshyagupta21 commented on #266
@huangyz0918 As discussed over the call that we're going with adding an option to select the default mode in settings and during form transfer we've to notify/show some information about the mode through which transfer is happening(this is required so that receiver can set the same mode to receive the forms). And also it would be good to add the colored icon for better visuality of user so that he

[2019-07-14 16:48] lakshyagupta21 commented on #264
@yanokwa or @lognaturel can answer this.

@huangyz0918 and we decided to pick this task once we finish with the development, maybe before our official release.

[2019-07-15 01:20] huangyz0918 commented on #266
@lakshyagupta21 I think I can get start with some UI design now, I'll draw some prototype diagram and design and post them here recently (for reviewing and discussing). But I won't update the changes into #260 because it is too large now, adding new changes will make it hard to review. If you can merge #260 to `dev` (according to this [comment](https://github.com/opendatakit/skunkworks-crow/pull/2

[2019-07-17 18:01] #253 closed

[2019-07-18 01:40] huangyz0918 opened #268 "Bluetooth is still 'ON' even if the connection is complete/canceled."
#### Problem description

according to the [comment](https://github.com/opendatakit/skunkworks-crow/pull/260#issuecomment-512504145)

#### Steps to reproduce the problem
Using bluetooth feature to transfer forms, cancel the progress or waiting for the progress completed. The bluetooth still on.

#### Expected behavior
Bluetooth should be disabled.

#### Other information
@opendatakit-bot claim

[2019-07-18 01:47] huangyz0918 opened #269 "Show dialog to get the confirmation for stopping the bluetooth connection."
#### Problem description
according to this [comment](https://github.com/opendatakit/skunkworks-crow/pull/260#issuecomment-512504145), we should add a confirm dialog to ask our user for stopping connections.

#### Steps to reproduce the problem
Press the `back` button.

#### Expected behavior
When we press the `back` button, or want to quit the transferring page. We should pop up a dialog asking th

[2019-07-18 01:52] huangyz0918 commented on #265
Closed via #260

[2019-07-18 01:52] #265 closed

[2019-07-18 02:40] huangyz0918 commented on #259
I checkout to commit [5a72504e537fd0c22f878d38ce7337d0d1510877](https://github.com/opendatakit/skunkworks-crow/commit/5a72504e537fd0c22f878d38ce7337d0d1510877), and this issue still exists.

[code]

[2019-07-18 04:03] huangyz0918 opened #271 "Improve the refresh progress in bluetooth device page"
#### Problem description
In the bluetooth pairing page, we can see a lot of devices (paired and unpaired), but the scanning progress may be very slow with bluetooth classic, I think we should find an approach to improve that. On the other hand, we don't have a scanning timeout or any UI changes when scan progress starting... So I think there are still some work left in this page.

#### Expected be

[2019-07-18 04:08] huangyz0918 commented on #267
Fixed in #260

[2019-07-19 02:59] huangyz0918 commented on #266
We have several tasks to do for this issue.

- [ ] add new options (maybe new designs) in the `Settings`.
- [ ] remove the dialogs for selecting one of a transferring method.
- [ ] connect the default method selected in preference to our specific job.
- [ ] detect the timeout and errors while using the default method, build new dialogs for switching to another method.

[2019-07-21 03:32] huangyz0918 commented on #259
@opendatakit-bot claim

[2019-07-23 03:28] huangyz0918 opened #275 "Bluetooth scanning results should not contain unreachable devices"
#### Problem description
In the bluetooth devices page, we have all the paired devices shown, but some of them are unreachable so we need to remove them.

#### Steps to reproduce the problem
Open the skunkworks-crow, click `receive` using bluetooth, we can see some scanned devices and some of them are just bonded but unreachable.

#### Expected behavior
We should show all available devices.

####

[2019-07-24 03:05] #275 closed

[2019-07-24 03:20] #267 closed

[2019-07-24 03:29] lakshyagupta21 opened #278 "Add empty view when no device present"
### Problem description
It's kind of confusing what to do when there are no Bluetooth devices available in the nearby area. There is one refresh button present with no message saying that 'No devices are available in the nearby area.'
#### Steps to reproduce the problem
1. tap on 'receive'
2. Select 'Bluetooth'
3. Wait for devices to show up.
#### Expected behavior
There should be some view displa

[2019-07-24 03:30] lakshyagupta21 commented on #278
@huangyz0918 I think you already added a progress bar in https://github.com/opendatakit/skunkworks-crow/pull/272, so no need to add it again.

[2019-07-24 03:34] huangyz0918 commented on #278
@opendatakit-bot claim , @lakshyagupta21 sure.

[2019-07-26 01:39] huangyz0918 opened #280 "Dialog shows null when sending all the existed forms"
#### Problem description
When we are trying to send the existed forms (all) using WiFi hotspot, we can see a blank `transfer result` dialog.

![Image from iOS.jpg](https://i.loli.net/2019/07/26/5d3a58fd9d1a446671.jpg)

#### Steps to reproduce the problem
- click send/receive using wifi hotspot.
- choose all the existed forms (for receiver) in the sender.
- connect to each other and start transferr

[2019-07-26 02:47] #278 closed

[2019-07-26 02:53] lakshyagupta21 opened #282 "Device present in available list of devices"
#### Software and hardware versions
Android 9 and Android 7.1

#### Problem description
When devices switch off the Bluetooth, it is still present in receiver's devices even after refreshing the list it doesn't get removed.
#### Steps to reproduce the problem
1. Start sender with `Bluetooth` as a medium
2. Start receiver and search for devices
3. Wait for receiver to scan the devices
4. Now sender

[2019-07-26 02:56] huangyz0918 commented on #259
@opendatakit-bot label "needs reproduction"

[2019-07-26 02:58] huangyz0918 commented on #282
@opendatakit-bot claim

[2019-07-27 08:04] huangyz0918 commented on #259
@opendatakit-bot label "needs discussion"

[2019-07-28 00:25] huangyz0918 opened #284 "Location permission required in android 9"
#### Software and hardware versions
I tested the bluetooth feature in PR #272 .

#### Problem description
In the android 9 devices, we need to grant the location for the bluetooth scanning. Only the location permission granted, the bluetooth can discover other devices. In other APIs, this issue won't appear.

#### Steps to reproduce the problem
- In android 9 device
- Start the receiver and scanni

[2019-07-28 00:59] huangyz0918 opened #285 "remove bad and duplicate forms"
#### Problem description
I noticed this issue when I'm testing the bluetooth feature, I don't know where this issue comes from, is it comes from the bluetooth approach or it's a common issue? Sometimes I can notice we have the duplicate form in our application, but in the ODK Collect, we can only see one.

I think we can add a check to our recycler view, to remove the duplicated items, we can add

[2019-07-28 02:44] huangyz0918 opened #287 "Update the README.md with new features"
#### Problem description
Since we have bluetooth and other new features and UI works, we should update the `README.md`, and make it latest to our users.

#### Other information
Things you tried, stack traces, related issues, suggestions on how to fix it...

[2019-07-28 09:45] #271 closed

[2019-07-28 17:48] #282 closed

[2019-07-28 18:01] lakshyagupta21 commented on #285
That validation is done in Collect and `skunkworks-crow` is not expected to do such validation. We add the new entries of forms received directly in forms table of collect. And if there is an entry already present with same form name and form version then we skip downloading the form from the sender.

There should not be a duplicated item, first, debug this and make sure that no duplicate entry is

[2019-07-29 03:01] lakshyagupta21 opened #288 "Add Android tests for sending/receiving forms"
#### Problem description
Add android tests for sending/receiving of forms for both Hotspot and Bluetooth communication medium.
This would be helpful to test whether file transfer is not broken in any of the PRs.

#### Other informations
Mockito or PowerMockito can be used to mock the sender/receiver.

[2019-07-30 01:20] huangyz0918 commented on #285
I have no ideas to address this problem, it appears just making no sense. I research that for a while but I could not reproduce it sometimes. Let's mark it as a bug and see other's ideas. @lakshyagupta21

@opendatakit-bot label "bug"

[2019-07-31 01:21] huangyz0918 opened #289 "add a user guide section in about page"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
In current `AboutActivity`, we only have an `open source licenses` section, I think we can add a guide section as well, it well be good for users to check if they have some issues using our application, no need to check `README.md` every time.

#### Other information
@opendatakit-bot claim

[2019-07-31 04:20] huangyz0918 commented on #117
Hey, how about this one?
![](https://i.loli.net/2019/07/31/5d4116cc09a2d42949.png)
@shobhitagarwal1612 @Chromicle @lakshyagupta21 @iadeelzafar @DreamyPhobic

[2019-07-31 05:11] Chromicle commented on #117
yeah @huangyz0918 it looks great to me

[2019-07-31 09:10] iadeelzafar commented on #117
@huangyz0918 The icon looks great to me. Awesome work!
Maybe we can change the background color to YELLOW or some light color. That's just my suggestion.

[2019-07-31 09:48] huangyz0918 commented on #117
Cool, how about this color?

![](https://i.loli.net/2019/07/31/5d4163ce142cb62777.png)

[2019-07-31 19:02] iadeelzafar commented on #117
@huangyz0918 Hard to decide :P My vote would be for the middle one.

[2019-08-06 03:02] lakshyagupta21 opened #291 "Socket timeout"
#### Software and hardware versions
Android v7.1 and Android 9.0, device used...

#### Problem description
When transferring forms from Android 9 to Android 7.1, I'm getting socket timeout in Android 7.1 device logs while making the bluetooth connection, but the other way is working fine.
#### Steps to reproduce the problem
1. Send forms from Android 9 via Bluetooth
2. Select the sender as Android

[2019-08-06 03:11] lakshyagupta21 commented on #291
One more log, could be the same issue
[code]

[2019-08-06 09:24] huangyz0918 opened #292 "java.net.SocketException: Socket closed using Hotspot"
#### Software and hardware versions
This is a common  issue in all kinds of APIs.

#### Problem description
When we are trying to close the hotspot sender, we will get an exception, although this issue has no effects on our feature, we can still  send/receive files.

#### Steps to reproduce the problem
- Start sending forms using hotspot.
- And press back button to cancel the sender job
- See the

[2019-08-06 09:47] huangyz0918 commented on #259
I think this issue is no longer active, but not sure.
It would be appreciated if you can help to test and see if this issue can be reproduce again.
@lakshyagupta21  @shobhitagarwal1612 @iadeelzafar @DreamyPhobic @Chromicle

[2019-08-06 09:55] huangyz0918 opened #293 "Improve the result showing using bluetooth"
#### Problem description
According to the [comment](https://github.com/opendatakit/skunkworks-crow/pull/281#issuecomment-518481636), we know once we use bluetooth as our transfer method, we will show both toasts and print the results in the activity, it's a bad UI work and we should keep that the same as hotspot, build a result dialog for that.

#### Steps to reproduce the problem
- Send/Receive t

[2019-08-06 09:56] huangyz0918 commented on #293
I'll give this issue a quick fix in the #281 .

[2019-08-07 03:38] lakshyagupta21 opened #294 "App crashes when pressing send button"
#### Software and hardware versions
Android v9.0 device used...

#### Problem description
App crashes when user presses send button and there are two entries of same form visible on main screen.(could be a collect issue)
#### Steps to reproduce the problem
Use the directory attached below for both collect and skunkworks-crow app and then open the app and press send button
[odk.zip](https://github.

[2019-08-08 12:56] Chromicle commented on #294
@lakshyagupta21 yeah it might be collect issue when I am clicking send button with some existing old forms I can't reproduce this issue
When installed in android 6 I am experiencing this issue with new forms this what I informed in PR #286

[2019-08-09 03:21] lakshyagupta21 commented on #294
@Chromicle This is not the bug in Collect, in some of the recent commits in skunkworks-crow the default path of odk directory got changed to `sdcard/odk` which I think is not same as the one used by collect.
And in Collect before downloading any form it checks if it has any form at the same path then it doesn't download, otherwise, it goes and downloads the form even if the identical form entry pr

[2019-08-09 13:32] Chromicle commented on #294
Yeah @lakshyagupta21 the default path of odk is changed,
I have one doubt, there is a edit text(Not Implemented working feature) in which we can change the path of odk  directory what If user changes to new path so did we have to change the path of downloading forms in collect also or else conflict may occur
And we have to move all forms into new path

[2019-08-10 13:32] lakshyagupta21 opened #295 "App not starting if permission is denied"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
App doesn't start if application doesn't have storage permission.

#### Steps to reproduce the problem

1. Reset the app if already installed.
2. Install the app.
3. Deny the storage permission.
4. Open app again.
5. Mark the checkbox selected.
6. Again deny the storage permission.
7. Try opening the app a

[2019-08-10 13:58] #284 closed

[2019-08-11 01:08] huangyz0918 commented on #294
I saw this issue as well, but I cannot reproduce this in my Android 5 device, this appears in my Android 9 device. Is this issue only related to android device?

[2019-08-11 01:28] huangyz0918 commented on #295
@opendatakit-bot claim

[2019-08-11 01:32] huangyz0918 commented on #295
I can apply our strategy in the #286

[2019-08-11 01:37] huangyz0918 commented on #294
Attached please find the empty (bad) forms
[Biggest N of Set.xml.zip](https://github.com/opendatakit/skunkworks-crow/files/3489457/Biggest.N.of.Set.xml.zip)
[Birds.xml.zip](https://github.com/opendatakit/skunkworks-crow/files/3489458/Birds.xml.zip)

[2019-08-11 09:26] lakshyagupta21 opened #297 "Crash happen when waiting for receiver to connect"
#### Software and hardware versions
Android v7.1 Xiaomi Redmi 4

#### Problem description
While waiting for the receiver to connect to sender's BlueTooth, after some duration I see my app crashed. Was able to reproduce while testing #270

#### Steps to reproduce the problem
1. Send forms using BlueTooth
2. Wait for receiver to connect.
3. Press back and wait for 120sec to see your app restart.

##

[2019-08-11 09:31] huangyz0918 commented on #297
This issue was resolved in PR #270

[2019-08-11 09:37] lakshyagupta21 commented on #294
Not sure. Are you able to reproduce on any of your devices correctly?

How are you saying that these forms are bad forms. I mean is it corrupted, half received or entry in db but not physically present in storage?

[2019-08-11 09:39] huangyz0918 commented on #294
The examples I sent are blank forms, without root elements.

[2019-08-11 09:41] huangyz0918 commented on #297
@opendatakit-bot claim

[2019-08-11 10:09] huangyz0918 commented on #297
Will fix this in #270

[2019-08-12 01:15] huangyz0918 commented on #294
Can you reproduce this issue in your android 7 machine? @lakshyagupta21

[2019-08-12 01:25] huangyz0918 commented on #294
This is weird, when I deleted the `/storage/odk` in my phone and reinstall both Collect and Skunkworks-crow, this issue didn't appear after that.

[2019-08-12 02:50] lakshyagupta21 commented on #294
I'm not sure about the crash, but reproducing the scenarios where duplication of forms is present can be achieved by following the above steps. And I tried this only in Android 9.

[2019-08-13 03:11] huangyz0918 opened #298 "Result dialog show nothing if we cancel transferring"
#### Software and hardware versions
It's a common issue appears in all APIs.

#### Problem description
If we interrupted the transferring by clicking `cancel` button in sender after connecting to another device, we can see an empty result dialog pops in receiver.

#### Steps to reproduce the problem
- transfer form data by bluetooth or hotspot.
- after connecting to another device, or some phases

[2019-08-14 02:41] #295 closed

[2019-08-14 02:43] lakshyagupta21 opened #299 "Add an option in Settings to reset the application"
#### Problem description
Add option similar to collect to  reset the application

[2019-08-14 02:49] lakshyagupta21 commented on #294
@huangyz0918 Can you fix this issue, as I'm not able to fill or open any of the forms in collect, it could be due to multiple forms with same formId and formVersion.

[2019-08-14 03:41] huangyz0918 commented on #294
Of course, I'll try my best to address, but I may need more time to do some tests since sometimes I cannot reproduce it, now all we know is it can be reproduced in android 9. Let's complete the exist PRs recently, so I can work on this after that.

[2019-08-14 03:45] huangyz0918 commented on #299
I can do this, @opendatakit-bot claim

[2019-08-14 07:30] huangyz0918 commented on #299
Do we need to reset forms (delete blank form/instances)? ODK Collect already has this option. @lakshyagupta21

[2019-08-14 16:13] lakshyagupta21 commented on #299
Nope, only skunkworks-crow related tables and storage.

[2019-08-14 23:52] huangyz0918 commented on #299
@lakshyagupta21 I updated this in PR #290 , added an option to reset user settings, you can have a look in this [commit](https://github.com/opendatakit/skunkworks-crow/pull/290/commits/b291c10c710e6c796cf411a4680550c77a01d026) and give some suggestions.

[2019-08-14 23:57] lakshyagupta21 commented on #299
@huangyz0918 Please try to raise a different PRs for different features.  Adding more than one feature in one PR is hard to review and test. Fixing bug is fine in same PR.  But adding more and more commits to big PRs make it difficult to review.

[2019-08-15 00:01] huangyz0918 commented on #299
Sure, will rise another PR

[2019-08-15 08:34] huangyz0918 commented on #291
This issue can be reproduced by:

- transfer data using bluetooth
- finish the first transmission and success
- press `back` in your bluetooth sender and click `send` again to enter the send page
- receiver pair to the same sender
- connection cannot not be established

[2019-08-16 05:27] #268 closed

[2019-08-16 05:27] #269 closed

[2019-08-16 05:27] #297 closed

[2019-08-16 10:20] #280 closed

[2019-08-16 10:20] #293 closed

[2019-08-17 07:58] lakshyagupta21 opened #302 "Change default ODK Directory"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
Currently, there is a hardcoded value of odk directory by default, if any form is transferred in any of the devices with no sdcard. It end up getting saved in some other virtual directory(`sdcard/odk`) but entry in made into forms.db in actual ODK directory of Collect.
#### Steps to reproduce the problem
1

[2019-08-17 09:40] huangyz0918 commented on #285
How to reproduce this issue,

- reset your sender and receiver, select a blank form and send it to receiver.
- confirm your receiver received the selected form.
- open the ODK Collect in your sender, and fill an instance for the blank form.
- send the instance to the same receiver.
- there are two duplicate forms in the receiver.

[2019-08-18 06:47] lakshyagupta21 opened #303 "IllegalArgumentException thrown when forms and instances db not present."
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
When you fresh download the ODK-Collect and Skunkworks-Crow app(Clear all storage directories of both the apps), and when transferring of forms happens receiver throws IllegalArgumentException.
#### Steps to reproduce the problem
1. Fresh start the skunkworks-crow application (Clear both collect and skunkw

[2019-08-18 07:53] #294 closed

[2019-08-18 10:01] huangyz0918 commented on #303
every time when I deleted the `odk` folder, and then open ODK Collect, Collect crashes, but the second time Collect works fine.

[2019-08-18 12:28] #266 closed

[2019-08-19 13:16] huangyz0918 opened #304 "UI doesn't update after updating the database"
#### Software and hardware versions
Android 7 and Android 5

#### Problem description
When we transferred a filled form, in the receiver's main page, we can see something like `Unreviewed: 1`, but the UI would not update until you restart the main activity. This issue was discovered when testing in #300 .

#### Steps to reproduce the problem
- transferring a filled form
- after seeing the result d

[2019-08-20 02:29] huangyz0918 commented on #292
@opendatakit-bot label "bug"

[2019-08-20 02:38] huangyz0918 commented on #304
I think this issue may related to the injected objects in MainActivity, after updating the database and back into MainActivity (on resume), those DTO and DAO objects did not update, so the corresponding UI will not update until that updated.

[2019-08-21 15:56] Chromicle opened #305 "Add auto-label bot"
#### Problem description
Add auto-label bot for automatically labeling prs.
By adding auto label bot so, we can list out type of PRs and it is so helpful for new contributors to know about the repo

[2019-08-21 16:47] Chromicle opened #306 "Stop turning off bluetooth after sharing forms when initial state is on"
#### Software and hardware versions
Android Samsung J8

#### Problem description
currently, after sending forms Bluetooth is turning off but when user is using Bluetooth before sharing forms but after sharing forms it is turning off so before turning off Bluetooth check initial state and if it is on leave that if it is off make it off

#### Steps to reproduce the problem
Share any form and check i

[2019-08-26 03:37] lakshyagupta21 opened #309 "After form transfer status on Main screen is not updated correctly"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
Whenever any instance form transfer happens, there is some discrepancy in reviewed and unreviewed status on the main screen.
#### Steps to reproduce the problem
1. Download all the available forms(at least two is needed to distinguish the status) from the default server on both sender and receiver.
2. Crea

[2019-08-26 07:45] huangyz0918 commented on #304
duplicate #309

[2019-08-26 07:45] #304 closed

[2019-09-22 09:01] iadeelzafar opened #310 "startLocalOnlyHotspot closed by system"
I'm using [startLocalOnlyHotspot](https://developer.android.com/reference/android/net/wifi/WifiManager#startLocalOnlyHotspot(android.net.wifi.WifiManager.LocalOnlyHotspotCallback,%20android.os.Handler)) in a project of mine that is similar to this project.

Hotspot is turned off by the system after a few minutes and I see this in the Logs.

```2019-09-05 11:12:42.087 759-3392/? I/WifiService: stop

[2019-09-22 09:02] iadeelzafar commented on #310
P.S: I'm using the `startLocalOnlyHotspot` on a foreground service but the hotspot is closed by the system while the service is still running.

[2019-09-23 07:34] lakshyagupta21 commented on #310
Hi @iadeelzafar,  are you facing same issue in the skunkworks-crow app?  I'm not sure about its usage in detail but will check and let you know,  anyways we planned to refactor that code a little bit to support all versions without having much dependency check for different versions.

[2019-09-23 07:35] lakshyagupta21 commented on #310
If you're facing this issue then please follow the Issue submission guidelines to report any issue so that we can gather much information to fix that.

[2019-09-24 17:31] naman653 commented on #306
I would like to work on this issue.

[2019-09-24 17:36] lakshyagupta21 commented on #306
@naman653 Welcome to the community,  sure go ahead you can pick any of the unassigned open issues.

[2019-09-24 18:55] naman653 opened #311 "bug: multiple dialogs appearing for requesting location access"
#### Software and hardware versions
Android v9.x.x, Vivo Z1 Pro

#### Problem description
When sending forms, the dialog for turn on the location is opening multiple times.
![odk](https://user-images.githubusercontent.com/31595908/65541200-7a995380-df2a-11e9-942e-82772c35ba10.gif)

#### Steps to reproduce the problem
Go to send blank form tab. Select the forms to send and click on the send button.

[2019-09-24 19:43] naman653 commented on #306
@opendatakit-bot claim

[2019-10-04 03:08] lakshyagupta21 commented on #310
@iadeelzafar Are you still facing this issue in skunkworks-crow-app?

[2019-10-04 03:10] #287 closed

[2019-10-07 15:43] naman653 opened #313 "chore: migrate project to single location permission"
#### Software and hardware versions
All

#### Problem description
Currently, we are using both Fine and Coarse location permissions for transferring forms, but only one of them is required according to our needs.

#### Steps to reproduce the problem
NA

#### Expected behavior
NA

#### Other information
NA

[2019-10-10 18:57] naman653 commented on #289
@opendatakit-bot claim

[2019-10-10 18:58] naman653 commented on #289
@lakshyagupta21 should I work on this?

[2019-10-10 18:59] lakshyagupta21 commented on #289
@naman653 Sure go ahead. You can work on any unassigned issue, claim it and then start working on it.

[2019-10-23 17:45] #289 closed

[2019-10-23 18:02] #306 closed

[2019-10-24 03:27] lakshyagupta21 commented on #310
Closing this issue, as there is no update on it and the information is not sufficient enough to reproduce the issue.

[2019-10-24 03:27] #310 closed

[2019-10-24 03:30] lakshyagupta21 commented on #305
@Chromicle Just a couple of questions regarding this. How do you plan to do this and what do you mean by list out type of PRs? How it will be helpful for new contributors?

[2019-10-24 05:12] Chromicle commented on #305
yeah, @lakshyagupta21 for example if we put this as PR title `fix: fixed Bluetooth issue in receiving forms`  so, the auto label bot detects the type and it will label it as a fix,  so, whatever the type it will label as that
so, that the new contributors can list out what are the previous PRs on ex: `doc` so, they can get the good reference to solve the issue

[2019-10-29 20:22] naman653 commented on #313
@lakshyagupta21 I thing for android version lower than Android Oreo, location is not needed for sharing files? Correct me if I'm wrong.

[2019-10-30 16:46] lakshyagupta21 commented on #313
Thanks for pointing this out and I think it should also be present in the code comments, for some Android API's location permission is required, and for devices with Android version 7.0 or 7.1 we're navigating user to a settings page to enable the hotspot manually, because you can't trigger hotspot from the third-party apps in those android versions, so there is no point in asking user for permiss

[2019-11-04 02:55] #311 closed

[2019-11-10 16:02] devanshi7799 commented on #175
@shobhitagarwal1612 is there anything more we can add to this issue?

[2019-11-11 07:22] devanshi7799 commented on #263
Can i work on this?

[2019-11-11 07:35] devanshi7799 commented on #233
@opendatakit-bot claim

[2019-11-11 08:32] Chromicle commented on #233
you can claim the issue by `@opendatakit-bot claim --force`

[2019-11-11 09:21] devanshi7799 commented on #233
@Chromicle thanks!

@opendatakit-bot claim --force

[2019-11-11 09:36] Chromicle commented on #233
@devanshi7799 Welcome to open data kit I hope you will learn new stuff here 😄

[2019-11-11 09:45] devanshi7799 commented on #233
@Chromicle Looking forward to it☺ Thank you so much

[2019-11-12 11:54] huangyz0918 commented on #263
@devanshi7799 Yes of course, please file a PR when you have done.

[2019-11-13 11:10] huangyz0918 commented on #305
Apart from this auto-labeling feature, @lakshyagupta21 can you add some Collect labels in skunkworks-crow? It seems we missed some labels like `needs review` and `needs testing`, so if we use the `@opendatakit-bot label 'needs review'` there will be an error.

[2019-11-25 21:46] manit-alokbatham commented on #303
@opendatakit-bot claim

[2019-11-25 21:47] manit-alokbatham commented on #303
@opendatakit-bot claim --force

[2019-11-26 07:14] manit-alokbatham commented on #303
Hi Lakshya,
 I'm trying to reproduce this. But, I'm not able to transfer the form saved from one device to other over wi-fi/bluetooth in both cases there is time-out to connect/pair coming on screen in the end, even in the case of bluetooth, I checked that my device is available in the list, but at the time of pairing it fails and in the end time-out. (tried on master's .apk)
 Tried 2 times. But t

[2019-11-27 09:02] manit-alokbatham commented on #233
@opendatakit-bot claim

[2019-11-27 09:04] manit-alokbatham commented on #244
@opendatakit-bot claim

[2019-11-27 11:39] Chromicle commented on #303
hello @manit-alokbatham Just make some things pair both devices initially and then start transforming or make the default transferring method as Bluetooth

[2019-11-27 11:53] manit-alokbatham commented on #303
Okay, I'll check this later.

[2019-11-28 14:39] manit-alokbatham commented on #309
@opendatakit-bot claim

[2019-11-29 06:32] manit-alokbatham opened #320 "./gradlew ./checkCode execution result- "BUILD FAILED" on opendatakit/master"
#### Software and hardware versions
Android vx.x.x, device used...

#### Problem description
**./gradlew ./checkCode** execution,  "BUILD FAILED"
checked on **opendatakit/master** too, same "BUILD FAILED"

#### Steps to reproduce the problem
execute **./gradlew ./checkCode** on **opendatakit/master**
#### Expected behavior
On opendatakit/master **./gradlew ./checkCode** execution should be success

[2019-11-29 06:37] manit-alokbatham commented on #320
@opendatakit-bot claim

[2019-11-29 06:40] manit-alokbatham commented on #320
@lakshyagupta21

As discussed with @devanshi7799, ./gradlew ./checkCode on opendatakit/master is failing.
I've checked this on master and worked on this to fix it. So, I'm creating a PR for the same.

[2019-11-29 15:05] manit-alokbatham commented on #242
@lakshyagupta21

I worked on this issue today and this issue has been fixed. when PR #321 will be merged to master then i'll create a PR for this issue. I checked fix on 3 devices and it's now working as expected.

[2019-11-30 05:33] manit-alokbatham commented on #203
@opendatakit-bot claim

[2019-11-30 07:09] manit-alokbatham commented on #242
![RV_#242](https://user-images.githubusercontent.com/58147504/69897202-2cf7f780-136e-11ea-91f0-81f31c643fb2.gif)

Final fix with minimum changes and no impacted areas, ready to merge. waiting for #321 to merge then I'll create a PR for this.

[2019-11-30 07:14] #320 closed

[2019-11-30 07:14] #244 closed

[2019-11-30 08:00] manit-alokbatham commented on #242
@lakshyagupta21

I've created a pull request #322 for #242 (this) issue fix.

[2019-11-30 16:18] Chromicle opened #323 "crash: Crashing on sending Forms through hotspot"
#### Software and hardware versions
Android Samsung J8

#### Problem description
Currently, App is crashing we are trying to send forms for the second time due to we are making a request once again for hotspot

#### Steps to reproduce the problem
Make the default method as a hotspot
Select forms and click send button
Come back again to MainActivty
Select forms once again and click send button
obse

[2019-11-30 16:19] Chromicle commented on #323
@opendatakit-bot claim

[2019-11-30 18:09] manit-alokbatham commented on #203
@lakshyagupta21
for #203
I've changed the dialog of send event with:
a). fileNumber + totalFiles
b). filedName + it's size
c). downloading size sent compared to total size
and I'll check it tomorrow on device. #322 #325 #324 need to be closed as of now.

[2019-12-01 19:22] lakshyagupta21 commented on #203
@manit-alokbatham We'll try to review as soon as we can. And you don't have to wait for other issues to get reviewed and merged, if you're done with fixing any issue and raised a PR for that, you can go ahead and start working on some other unclaimed issues, sometimes PRs takes time to get merged.

[2019-12-01 19:37] #305 closed

[2019-12-01 19:58] manit-alokbatham commented on #203
@lakshyagupta21

 Sure!

[2019-12-03 18:59] #242 closed

[2019-12-09 07:54] devanshi7799 commented on #175
I want to work on this issue. What should be added in the about section?

[2019-12-09 12:52] Chromicle commented on #175
@devanshi7799 maybe you can do in the format of the HTML as like we did in the opensource license

The list items are
- About skunkworks-crow
- Why skunkworks-crow
- What is the need of odk-collect
- Using skunkworks-crow

Suggestions are welcome 😄

[2019-12-11 05:50] devanshi7799 commented on #175
@opendatakit-bot Claim

[2019-12-11 05:51] devanshi7799 commented on #175
@opendatakit-bot claim

[2019-12-12 14:21] KAbhijeet2105 opened #326 "Remove hardcoded dimens from xml layout files"
**Software and hardware versions**
Android 9.0 (Pie)

 **Problem description**
Remove hardcoded dimen resources from xml layout files.

 **Steps to reproduce the problem**
Go through the project codebase and layout files(i.e xml layout files)

 **Expected behavior**
Remove hardcoded dimen(eg. 16dp) resources from xml layout files.
Move hardcoded dimension(ex: 16dp) to dimens.xml file

**Other info

[2019-12-12 14:27] Chromicle commented on #326
Hello, @KAbhijeet2105 thank you for raising the issue
As this issue is related to coding style it is good to know everyone's opinions so, make one thread in the slack channel and discuss there 😄

[2019-12-12 15:22] KAbhijeet2105 commented on #239
I want to work on this, can I?

[2019-12-12 17:31] Chromicle commented on #239
hello @KAbhijeet2105, I already raised PR on this it is yet to be reviewed
Can you please find any other issues  😄

[2019-12-13 04:51] Chromicle opened #327 "Add shortcuts on long pressing the app icon on noughat based devices"
#### Problem description
There is no shortcut option on long pressing the app icon.

#### Expected behavior
It should have shortcut options for send forms, receive through bluetooth, receive through hotspot  section on long pressing the app icon in the Android versions greater than 7.1

@opendatakit-bot claim

[2019-12-13 05:14] lakshyagupta21 commented on #327
@Chromicle,  thanks for raising the issue,  and this would be a nice issue,  I wanted to know how you come up with what should be the shortcut options?  I'm asking this as this app is not in users hands so we don't know about user priorities.

[2019-12-13 05:25] Chromicle commented on #327
I think mostly everyone uses our app more with
- sending forms
- receving forms

which is the main objective of our app so, I think adding these two will be good

[2019-12-13 13:12] KAbhijeet2105 commented on #239
I am really sorry. I forgot to check it.

[2019-12-14 15:46] #233 closed

[2019-12-17 14:39] KAbhijeet2105 commented on #326
@opendatakit-bot claim

[2019-12-17 14:40] KAbhijeet2105 commented on #326
@opendatakit-bot claim --force.

[2019-12-19 07:36] devanshi7799 commented on #178
@opendatakit-bot claim

[2019-12-29 22:52] SaumiaSinghal commented on #193
Hie @shobhitagarwal1612! I would like to work on this issue. Can I claim it, if no one else is working on it?

[2019-12-30 13:38] devanshi7799 commented on #117
@lakshyagupta21 i would like to work on this.

[2019-12-30 13:41] devanshi7799 commented on #179
@shobhitagarwal1612 i would like to work on this

[2019-12-30 13:54] SaumiaSinghal commented on #157
Hie @shobhitagarwal1612! I would like to work on this issue. Is the work already done?

[2019-12-30 14:21] SaumiaSinghal commented on #238
Hie @shobhitagarwal1612! I would like to work on this issue.

[2019-12-30 14:21] SaumiaSinghal commented on #238
@opendatakit-bot claim

[2019-12-30 17:32] lakshyagupta21 commented on #157
@SaumiaSinghal It looks like no one has this issue claimed or it has an open PR, so you can start working on this, and claim it with the help of @opendatakit-bot .

[2019-12-30 17:34] lakshyagupta21 commented on #179
@devanshi7799 Sure go ahead and you can start with any open issues which are unclaimed. But do check if any issues have any open PRs or not.

[2019-12-30 19:15] SaumiaSinghal commented on #157
@opendatakit-bot claim

[2019-12-31 06:24] devanshi7799 commented on #263
@opendatakit-bot claim

[2019-12-31 06:27] devanshi7799 commented on #263
@huangyz0918 what documents must be added in the website?

[2020-01-01 10:50] SaumiaSinghal commented on #157
Hie @lakshyagupta21, I think there's some mistake, I have just one other issue claimed in this repository. Can you have a look into this, please?

[2020-01-01 10:56] SaumiaSinghal commented on #193
Hie @shobhitagarwal1612, @lakshyagupta21, I changed the PMD plugin version, and have worked out the exclusions as well. However, I am getting 500+ PMD rule violations:/

[2020-01-01 11:27] sarrocks1 opened #331 "App Crashes on Selecting any Finalized form or Pressing Send"
Android v9, device used Nokia 7 Plus.

Problem description- The Skunkworks-crow app crashes on selecting any Finalized form on the Home Screen.No such issues with non finalized forms. App also crashes on pressing Send Button.

Steps to reproduce the problem-
1.Open the app
2.Select any Finalized form on the homepage **OR** Click on Send Button
3.App Crashes

Expected behavior - Tapping on the form

[2020-01-01 11:49] Chromicle commented on #331
Welcome to opendata kit and thanks for raising issue but it is Duplicate of #323 and I already sent PR for that it will be merge soon

[2020-01-01 18:01] sarrocks1 commented on #331
Ok , Thanks a lot I am closing this

[2020-01-01 18:01] #331 closed

[2020-01-05 09:56] sujaykaushik008 commented on #179
Is someone working on this? if not I would like to work on it

[2020-01-05 10:47] Chromicle commented on #179
Hello @sujaykaushik008 welcome to ODK, and thanks for showing intrest on solving issue
@devanshi7799 asked to work on this 6 days ago but she did not claimed it
Wait for her reply if she did not working you can work on this

[2020-01-05 10:49] devanshi7799 commented on #179
@sujaykaushik008 As i am currently working on some other issues, i have not yet started woking on this one.
You can claim and work on this :)

[2020-01-05 12:02] sujaykaushik008 commented on #179
ok so to be clear the task is to remove the reviewed tab and change the received tab so that it has functionalities of both reviewed and received tabs.
@opendatakit-bot claim

[2020-01-08 15:24] devanshi7799 opened #334 "Improve the UI of the application"
#### Software and hardware versions
NA

#### Problem description
Improve UI of the application

#### Steps to reproduce the problem
Open the application

#### Expected behavior
Make the application more attractive

#### Other information
NA

[2020-01-08 16:24] devanshi7799 commented on #263
@lakshyagupta21 can you tell me what documentation must be added to the website and some specific design that must be used?

[2020-01-08 16:26] lakshyagupta21 commented on #334
@devanshi7799 Can you be more descriptive.

[2020-01-08 16:27] lakshyagupta21 commented on #263
Lets not pick this up until the final public release is done, once we've enough number of users then we can think about this issue.

[2020-01-08 16:30] #326 closed

[2020-01-08 17:03] devanshi7799 commented on #334
@lakshyagupta21 To make the application more attractive. May be we can add a splashActivity and make some changes in the colour combination of the application.

[2020-01-08 23:15] SaumiaSinghal commented on #193
@opendatakit-bot claim

[2020-01-08 23:26] SaumiaSinghal commented on #192
@opendatakit-bot claim

[2020-01-08 23:27] SaumiaSinghal commented on #192
Hie @lakshyagupta21 @shobhitagarwal1612, I would like to work on this issue, but I cannot claim it.

[2020-01-09 02:07] Chromicle commented on #334
As per I think as this app is not there in user's hand so, I think this feature is not needed now we can do that in next release this is my suggestion but please take @lakshyagupta21 decision

If you want to do this may be you can divide the each feature into different issues

[2020-01-11 01:11] naman653 opened #337 "bug: using app without installing ODK collect app"
#### Software and hardware versions
Android v9.x.x, Vivo Z1 Pro

#### Problem description
The current scenario of the app doesn't allow the user to use the app without ODK collect app. But one can access the app without installing the ODK collect app.
#### Steps to reproduce the problem
1. Open the app in absence of ODK collect app.
2. Click the install button.
3. Navigate back to the app without

[2020-01-11 11:52] naman653 commented on #337
@opendatakit-bot claim

[2020-01-12 15:22] SaumiaSinghal commented on #224
Hie @iadeelzafar! I'd like to work on this issue.

[2020-01-12 15:23] SaumiaSinghal commented on #224
@opendatakit-bot claim

[2020-01-12 15:23] SaumiaSinghal commented on #224
@opendatakit-bot force-claim

[2020-01-12 15:24] SaumiaSinghal commented on #224
@opendatakit-bot claim -force

[2020-01-12 16:47] SaumiaSinghal commented on #224
@opendatakit-bot claim --force

[2020-01-12 16:55] SaumiaSinghal commented on #224
Hie @lakshyagupta21, @iadeelzafar just to notify that, I'm working on this issue!

[2020-01-12 17:17] devanshi7799 commented on #201
Is this issue solved? Or else i would like to work on this

[2020-01-13 08:19] chidauri commented on #178
@opendatakit-bot claim

[2020-01-13 15:17] HarshitSachan1999 commented on #120
If no one is working on that bug then I would like to fix it.

[2020-01-13 17:25] chidauri commented on #178
@shobhitagarwal1612 @lakshyagupta21 would scatter chart be okay? such that
Xaxis: dates corresponding to all of sent/received/reviewed forms
Yaxis: Number of forms
Symbols: maybe(triangle, square and circle) representing the three categories(sent, received and reviewed)

[2020-01-13 22:11] naman653 commented on #193
@opendatakit-bot claim

[2020-01-13 23:15] Chromicle commented on #193
Hello @naman653  as @SaumiaSinghal took this issue and it is not yet reviewed so, do not work on the issues like this

[2020-01-15 09:24] iadeelzafar commented on #120
Feel free to start working on this one.

[2020-01-15 09:25] SaumiaSinghal commented on #302
@opendatakit-bot claim

[2020-01-15 09:25] SaumiaSinghal commented on #302
Hie @lakshyagupta21, just to inform that I'm currently working on this issue.

[2020-01-15 12:46] SaumiaSinghal commented on #302
The default directory where all the forms are saved from odk Collect is `Device Storage/odk/`, so should we change the default directory to the same?

[2020-01-15 14:00] lakshyagupta21 commented on #334
@devanshi7799 The idea of adding splash activity is nice, but as of now, we don't have anything concrete to show in splash activity(Even app icon is not finalized). And if you've any specific idea that you want to show in splash activity. And what color combination you intend to change?

[2020-01-15 14:03] lakshyagupta21 commented on #302
@SaumiaSinghal Are you able to reproduce the issue?

[2020-01-15 14:09] lakshyagupta21 commented on #178
@chidauri Can you add some screenshots for the same.

[2020-01-15 14:11] lakshyagupta21 commented on #201
@devanshi7799 As @Chromicle also shown interest in working on this issue, if he is fine with assigning this to you, then you can work on this.

[2020-01-15 23:19] Chromicle commented on #201
As discussed before we need discussion for this so, I did not submitted PR I will work on this

[2020-01-16 06:05] HarshitSachan1999 commented on #120
Ok, I am working on it

[2020-01-16 08:40] HarshitSachan1999 commented on #120
@opendatakit-bot claim --force

[2020-01-16 09:09] Chromicle opened #341 "bug: Unable to send forms through bluetooth"
#### Software and hardware versions
Android 9, Samsung J8

#### Problem description
Currently, we are unable to send the forms through Bluetooth every time we are timeout error
if we are making default method as Bluetooth then, it is working on some devices

#### Steps to reproduce the problem
Try to send the forms through the Bluetooth and observe the behavior

#### Expected behavior
Forms have t

[2020-01-16 10:28] huangyz0918 commented on #341
Can you share me some log from Android Studio? @Chromicle Thanks.

[2020-01-17 06:46] Chromicle commented on #341
It is working perfectly in my device I observed this behavior in OnePlus 6T I don't have that phone I will get in two days I will update the log message in PR template

[2020-01-17 11:37] SaumiaSinghal commented on #341
Hie @Chromicle! I use a vivo v11 phone running Android 9. I tried sending the form via bluetooth, after setting the default option to send a form as bluetooth. But it still doesn't work.

[2020-01-17 11:37] SaumiaSinghal commented on #341
Hie @huangyz0918, I can share the log from Andorid Studio.

[2020-01-17 13:45] Chromicle commented on #341
Yeah, please 😄

[2020-01-17 17:36] SaumiaSinghal commented on #341
`2020-01-17 23:04:55.090 2184-2184/org.odk.share E/BackgroundFallback: initVivoBgFallback callstackcom.android.internal.policy.DecorView.<init>:382 com.android.internal.policy.PhoneWindow.generateDecor:2441 com.android.internal.policy.PhoneWindow.installDecor:2820 com.android.internal.policy.PhoneWindow.getDecorView:2185 androidx.appcompat.app.AppCompatDelegateImpl.createSubDecor:575 androidx.appc

[2020-01-17 17:36] SaumiaSinghal commented on #341
2020-01-17 23:04:55.090 2184-2184/org.odk.share E/BackgroundFallback: initVivoBgFallback callstackcom.android.internal.policy.DecorView.<init>:382 com.android.internal.policy.PhoneWindow.generateDecor:2441 com.android.internal.policy.PhoneWindow.installDecor:2820 com.android.internal.policy.PhoneWindow.getDecorView:2185 androidx.appcompat.app.AppCompatDelegateImpl.createSubDecor:575 androidx.appco

[2020-01-17 17:37] SaumiaSinghal commented on #341
It gets stuck at `getBluetoothService() called with no BluetoothManagerCallback` on Andorid 9

[2020-01-17 18:04] SaumiaSinghal commented on #302
Hi @lakshyagupta21, yes I finally found another device to work with and was finally able to reproduce the issue. :sweat_smile:

[2020-01-17 18:09] chidauri commented on #178
@lakshyagupta21 Hi, I am not able to test my changes because i am not able to send or receive forms (both phones running android 9). It will look similar to this by the way:
![Screenshot from 2020-01-17 15-21-22](https://user-images.githubusercontent.com/47722139/72635291-82ba4a80-3982-11ea-8fbe-128aef906a3d.png)

[2020-01-18 14:44] devanshi7799 commented on #334
@lakshyagupta21 i saw the icons for the application and i think the blue one is quite nice.
If we select the that icon for the application ,then i think the colour of the app could be light-blue and some part can be yellowish.
what do you think?

[2020-01-18 14:56] devanshi7799 commented on #175
@opendatakit-bot i have made a PR but it is yet to be reviewed

[2020-01-18 14:57] devanshi7799 commented on #174
@lakshyagupta21 @Chromicle is this issue still open?

[2020-01-18 16:03] Chromicle commented on #174
I updated my PR and it is under review

[2020-01-19 05:39] devanshi7799 commented on #157
@lakshyagupta21 is this issue still open? I would like to work on this one

[2020-01-19 05:41] devanshi7799 commented on #50
@shobhitagarwal1612 @lakshyagupta21 i would like to work on this one.
but still i am not clear about the issue. what is to be done.

[2020-01-19 05:46] devanshi7799 commented on #174
@Chromicle @lakshyagupta21 instead of button, can me make FABs?
it would look good.

[2020-01-19 05:53] devanshi7799 commented on #298
@opendatakit-bot claim

[2020-01-19 06:00] Chromicle commented on #174
I don't think fabs look good for 2 buttons in the bottom it is bad UI, we use the fab if we have only one button
I wrote the style for the button please have a look on it

[2020-01-21 19:05] Chromicle opened #343 "Navigate to collect when sending filled forms"
#### Software and hardware versions
Android Samsung J8

#### Problem description

Add a new feature on long pressing the filled form to direct to odk collect and show the form and I think no need add this feature to blank forms

#### How this feature helps to user

If user wants to review the form so, he can directly review from here instead of going to odk collect

#### Steps to reproduce the pro

[2020-01-22 16:17] chidauri commented on #309
@lakshyagupta21 Similar problem exists for sent and received forms too :(

[2020-01-23 17:39] chidauri commented on #50
Would it be okay to change "Finalized on......" to reflect those forms which were received as "Received on......"

And for the original issue, i think in the title we can show "Send", since we now have separate tabs for FILLED FORMS and BLANK FORMS. wdyt?

[2020-01-23 17:44] chidauri commented on #157
Can anyone confirm this issue still exists? i can't see it on my device running android 9.

[2020-01-24 03:29] #192 closed

[2020-01-24 03:31] #193 closed

[2020-01-24 04:42] chidauri commented on #285
@opendatakit-bot claim

[2020-01-28 12:05] Chromicle opened #346 "bug: listing all devices of bluetooth"
#### Software and hardware versions
Android Samsung J8

#### Problem description
Currently, we are showing all the list of Bluetooth devices within the range  as our app is used by only android devices so, no need to show other devices like laptop, headphones, etc so, restrict to show only android devices

#### Steps to reproduce the problem
Use the transferring method as Bluetooth
Click receive a

[2020-01-28 13:48] naman653 commented on #337
@lakshyagupta21 Please review

[2020-01-28 14:27] Chromicle commented on #346
@opendatakit-bot claim

[2020-01-30 12:28] Chromicle opened #347 "Disable button instead of showing toast for null validation"
#### Software and hardware versions
Android 9, Samsung J8

#### Problem description
Currently, In settings activity we are showing the toast that `Name should not be empty`  if the length of the string equals to 0 in every `EditTextPreference`
Instead of showing toast, disable the positive button so, user can directly know that he did not have to enter the null value in EditText or else he/she hav

[2020-01-30 12:39] lakshyagupta21 commented on #347
@Chromicle It would always be helpful if you attach some screenshots or gifs whenever you raise an UI change request.

[2020-01-30 12:40] lakshyagupta21 commented on #347
@Chromicle And I would suggest to claim issues once you're done with other issues.

[2020-01-30 12:41] lakshyagupta21 commented on #346
Is there any way to identify whether the device is smartphone, smartwatch, laptop or something else.

[2020-01-30 14:20] Chromicle commented on #346
Yeah we can know that with help of `getBluetoothClass` please have a look on [this](https://stackoverflow.com/questions/5989847/find-type-of-bluetooth-device-whether-mobile-or-laptops-or-mac-pcs)

[2020-01-30 15:38] Chromicle commented on #347
Yeah, I updated in PR template
and I have one doubt how many issues can we claim as I don't know that I claimed this issue and I will make PR's for whatever the issue I claimed by today

[2020-02-03 12:11] soumyajit1729 commented on #239
May I work on this issue?

[2020-02-03 12:22] soumyajit1729 commented on #239
ok, sorry, Its already done.

[2020-02-03 17:20] devanshi7799 commented on #50
@opendatakit-bot claim

[2020-02-03 18:59] SaumiaSinghal opened #352 "No adapter attached; Skipping layout in BlankFormsFragment and FilledFormsFragment"
#### Software and hardware versions
Android vx.x.x, device used...
Android 9, Vivo V11 Pro

#### Problem description
Calling the `setAdapter` method in `onLoadFinished` , i.e. a delayed method, leads to the error
`E/RecyclerView: No adapter attached; skipping layout`.

#### Steps to reproduce the problem
1. Open the app
2. Click on the `Send` button.
3. In Android Logcat, it shows the error: `E/Re

[2020-02-03 19:02] SaumiaSinghal commented on #352
Hie @huangyz0918, @lakshyagupta21, I see that on all devices, it was not much of a issue, just an error in the logcat, but I found that, on my device, Android 9, it leads to a crash sometime and fails to populate the view in the mentioned fragments. I worked on it, and will submit a PR soon.

[2020-02-03 19:02] SaumiaSinghal commented on #352
@opendatakit-bot claim

[2020-02-03 23:41] SaumiaSinghal opened #354 "Checkstyle: EmptyLineSeparator not falling on multiple blank lines between fields declarations"
#### Software and hardware versions
Android vx.x.x, device used...
A developer-facing issue

#### Problem description
As a better code-maintenance practice, I propose that the `Checkstyle EmptyLineSeparator` rule to check multiple blank lines between field declarations, be enforced.

#### Steps to reproduce the problem
Enter multiple contiguous line breaks between field declarations, anywhere in t

[2020-02-03 23:42] SaumiaSinghal commented on #354
@opendatakit-bot claim

[2020-02-04 14:27] Chromicle commented on #309
@opendatakit-bot claim

[2020-02-04 17:19] #354 closed

[2020-02-10 05:24] devanshi7799 commented on #247
@lakshyagupta21 @Chromicle is this issue open? I would like to work on this issue

[2020-02-10 18:34] lakshyagupta21 commented on #247
@devanshi7799 Sorry but the PR is already in open state for this issue.

[2020-02-19 11:14] rheo-chiti opened #357 "Feature request, Instead of typing the destination directory ,user can choose the destination directory by opening file explorer dialog"
#### Software and hardware versions
Android vx.x.x, device used...
Android v9.0, Realme 1

#### Problem description
Currently for selecting the destination(```ODK Destination Directory```),user has to manually type the destination. It would be a nice improvement if the user has to choose the folder from file explorer instead.

#### Steps to reproduce the problem
1. Open the app
2. Go to Settings
3

[2020-02-19 11:24] rheo-chiti commented on #357
Hi @huangyz0918  @lakshyagupta21 can you please give a feedback on this feature?
I will work on a PR soon

[2020-02-19 12:30] Chromicle commented on #357
Hello, @rheo-chiti thanks for raising the issue, but it looks like a duplicate of #250 and I raised PR for that.
if you have no queries for this, please close this issue

[2020-02-19 14:21] rheo-chiti commented on #357
@Chromicle ,Sorry I couldn't see that PR(it wasn't merged), next time I will check at the existing unclosed PR's too🙂

[2020-02-19 14:46] #357 closed

[2020-02-19 22:25] rheo-chiti commented on #298
Is this issue still open? @huangyz0918  @lakshyagupta21

[2020-02-20 14:53] Chromicle opened #358 "Improve UI of scanning devices of bluetooth"
#### Software and hardware versions
Android [Samsung J8](https://www.samsung.com/levant/smartphones/galaxy-j8-j810/SM-J810FZDGMID/) and [oneplus 6](https://www.oneplus.in/6)

#### Problem description
Currently, while scanning the Bluetooth devices around we are using progress dialog according to [material design](https://material.io/archive/guidelines/components/progress-activity.html#) showing pr

[2020-02-20 14:55] maharishi1 opened #359 "Improving UI of application"
#### Software and hardware versions
Android 7, Lenovo K6Note

#### Problem description
The UI not really attractive. Like button, text and the arrangement of permission icon like Wi-Fi, Bluetooth etc.

#### Steps to reproduce the problem
open the application and go to the other page.

#### Expected behaviour
instead of rectangle button, other shape will be better. And spinner for Wi-Fi Bluetooth o

[2020-02-20 14:58] Chromicle commented on #359
Hello, @maharishi1 thanks for raising the PR, but it looks like a duplicate of #334 you can discuss there if you have any new ideas
if you don't have any queries please close this issue and discuss there

[2020-02-20 15:05] Chromicle commented on #358
@opendatakit-bot claim

[2020-02-20 17:17] maharishi1 commented on #359
OK ......actually I am new here....

[2020-02-20 17:17] #359 closed

[2020-02-20 20:34] maharishi1 commented on #358
Hello sir, can I do this...

[2020-02-21 04:09] maharishi1 commented on #334
Hello @Chromicle  i wanna also contribute in this issue...

[2020-02-24 23:12] rheo-chiti opened #363 "Unit test for QRCodeUtils.class"
#### Software and hardware versions
Android v9.0, Realme 1

#### Problem description
Currently there is no unit test written for QRCodeUtils class.

#### Steps to reproduce the problem

#### Expected behavior

#### Other information

[2020-02-25 19:26] virajpatel2411 commented on #238
@opendatakit-bot claim

[2020-02-26 03:50] #352 closed

[2020-02-26 10:27] SaumiaSinghal commented on #238
Hie @virajpatel2411! I have worked on this issue and submitted a PR for the same. I am waiting a review from the maintainers. Would you mind working on other issue? Thanks!

[2020-02-27 15:03] refactor-droidyy opened #364 "Replace Checkbox with Switch"
#### Software and hardware versions
Android Version - 7.0.1, device used - Xiome Redmi 4A

#### Problem description

Currently, in setting there are checkboxes for performing single on/off operation.

#### Steps to reproduce the problem

Open Settings

#### Expected behavior

The Checkbox should be replaced by Switches.

[2020-02-27 15:04] refactor-droidyy commented on #364
@yanokwa i want to work on this.

[2020-02-27 15:17] Chromicle commented on #364
Hello @refactor-droidyy, Thanks for showing interest and finding issues but I already send PR for that in #348, as you are new to the community can you find any `good first issue` or any new issue

[2020-02-27 18:21] shubhamkumar1739 commented on #323
@opendatakit-bot claim

[2020-02-27 18:22] shubhamkumar1739 commented on #323
@opendatakit-bot claim --force

[2020-02-27 18:22] shubhamkumar1739 commented on #323
@opendatakit-bot claim --force

[2020-02-27 18:24] shubhamkumar1739 commented on #323
@opendatakit-bot claim --force

[2020-02-27 18:24] shubhamkumar1739 commented on #323
@opendatakit-bot claim

[2020-02-27 20:12] shubhamkumar1739 commented on #363
@opendatakit-bot claim

[2020-02-28 14:35] virajpatel2411 commented on #238
Okayy. I thought you were unassigned.

[2020-03-03 13:03] htg2704 opened #367 "Add back button to settings activity"
#### Software and hardware versions
Android v9, device used - Realme X2 pro

#### Problem description
There is no button to go back to home screen from settings screen.
#### Steps to reproduce the problem
It is not a problem but an unavailabilty of feature. TO reproduce, open the app, click on 3 verical dots in top right corner, go to settings. You will find there is no button for backward navigat

[2020-03-03 15:13] Chromicle commented on #367
Hello, @htg2704 welcome to ODK, thanks for raising the issue
if you want to work on this you can claim this by `@opendatakit-bot claim` it will assign to you

[2020-03-03 16:20] htg2704 commented on #367
How to exactly do that? I mean how to use the bot claim?

[2020-03-03 16:46] Chromicle commented on #367
just type `@opendatakit-bot claim`  in the comment section
have a look [here](https://github.com/opendatakit/skunkworks-crow/issues/358#issuecomment-589096431)

[2020-03-03 16:47] htg2704 commented on #367
Oh ok thanks.

[2020-03-05 11:41] mayankkanela commented on #298
@opendatakit-bot claim

[2020-03-05 11:41] mayankkanela commented on #298
@opendatakit-bot claim --force

[2020-03-06 07:35] htg2704 commented on #367
@opendatakit-bot claim

[2020-03-07 04:37] htg2704 opened #368 "Bug: App crashes due to java.lang.reflect.InvocationTargetException at java.lang.reflect.Method.invoke(Native Method)"
#### Software and hardware versions
Android v9, device used - Realme X2 pro

#### Problem description
App crashes due to java.lang.reflect.InvocationTargetException
        at java.lang.reflect.Method.invoke(Native Method)
The activities crash while performing a specific task twice.
#### Steps to reproduce the problem
While sending any form, if you click send it will take you to activity_send. Now

[2020-03-07 04:44] htg2704 commented on #368
@opendatakit-bot claim --force

[2020-03-07 05:05] Chromicle commented on #368
Hello, @htg2704 thanks for raising the issue, but it looks like a duplicate of #323
if you don't have any queries please close this issue, thanks

[2020-03-08 12:35] htg2704 commented on #368
@Chromicle Yes the issue is already mentioned under #323. It didn't showed under similar issues sections. I am closing the issue.

[2020-03-08 12:35] #368 closed

[2020-03-08 12:52] Chromicle commented on #368
You specified the error message name instead of what is the issue about so, GitHub didn't show in similar issues, from the next time please have a look on all issues then open it
@opendatakit-bot label "duplicate"

[2020-03-09 09:03] htg2704 commented on #367
@Chromicle , I have a few doubts regarding this issue. As the settings activity extends Preference activity, one cannot access the toolbar. Shall I make some bigger changes in order to implement my suggestion?

[2020-03-09 11:48] Chromicle commented on #367
I just gave a try, Our settings activity has to extend `PreferenceActivity` without that we can not use `        addPreferencesFromResource(R.xml.preferences_menu)`
you can add the back button with `setNavigationIcon` to toolbar please try once again and let me know if you got stuck somewhere

[2020-03-10 14:38] htg2704 commented on #367
@opendatakit-bot -bot claim --force

[2020-03-10 14:39] htg2704 commented on #367
@opendatakit-bot claim --force

[2020-03-10 18:22] SaumiaSinghal opened #370 "On screen rotation Set Hotspot Password dialog disappears"
#### Software and hardware versions
Android vx.x.x, device used...
Android 9.0 Vivo V11

#### Problem description
Hotspot Password Dialog disappears on screen rotation.

#### Steps to reproduce the problem

- Go to Settings -> Hotspot Settings
- Select Set Hotspot Password
- Set Hotspot Password dialog appears.
- Change device orientation
- Set Hotspot Password dialog disappears.

#### Expected be

[2020-03-10 18:22] SaumiaSinghal commented on #370
@opendatakit-bot claim

[2020-03-13 17:16] htg2704 opened #372 "Feat: Add exit confirmation dialog"
#### Software and hardware versions
All

#### Problem description
While at home screen, if back button is pressed, the app directly closes.
#### Steps to reproduce the problem
Open the app and click back.
#### Expected behavior
Upon adding the feature, a dialog box will be displayed which will ask user to confirm wether to close the app or back was pessed accidentlly.

[2020-03-13 17:16] htg2704 commented on #372
@opendatakit-bot claim --force

[2020-03-14 01:15] Chromicle commented on #372
Hello, @htg2704,
A dialog should only be shown when there is a critical action that can't be undone easily eg logout, ending the transfer of forms, banking related things, etc.
we don't use any type of things in home screen so,  dialog to confirm if the user wants to exit is not necessary lets take @lakshyagupta21 and @huangyz0918 decisions also

[2020-03-14 05:06] htg2704 commented on #372
@Chromicle Even I thought the same but went ahead of opening the issue because of two reasons -
1.Due to different swipe gestures commonly used by various users, It may happen that a swipe by mistake may result in closing the app(Happened with me personally). It won't be a big problem but it results in bad user experience.
2.The app neither has any splash screen(saw the issue opened by fellow deve

[2020-03-15 13:00] Chromicle commented on #372
That is the feature which will be in some of the devices only mostly android 9 and 10 and we don't have any right swipe features in main activity so, I think if and if a user is intended to exit app then only he will do that

Can you explain a bit how it actually increases the user experience with the help of adding exit confirmation dialog

[2020-03-17 23:36] qhb1001 commented on #179
Hi @sujaykaushik008, I just noticed the `checkCode` bugs in your [PR#333](https://github.com/opendatakit/skunkworks-crow/pull/333) for this issue. May I work on that to make it work through the integration part?

[2020-03-18 16:27] htg2704 commented on #372
Sorry for such a late reply, I was travelling due to current circumstances.
1. As most of the devices are either working on Andoid 9.0(+) or will receive updates in near future, I thought it is a valid reason. Speaking from the limited number of people I have seen using the swipe back button, this does irritate users.
2. As I said, right now our app don't have a splashscreen. Once it is included,